
@{
    ViewBag.Title = "Hakkımızda";
    Layout = "~/Views/Shared/_Layout.cshtml";
}





<img src="~/Content/Site/images/hak.png" alt="Hakkımızda " />


<h1>CD RENT A CAR </h1>

<p>CD RENT A CAR "Cenkay Durmuş" tarafından 2018 de kurulmuştur..</p>

<h2>ARABA FİRMASI</h2>


<p>
    Araba kiralamayı kendi arabanızı kullanır gibi kolay ve kişisel hale getirmek istiyoruz.
    Araba kiralamak size özgürlük sağlar. Biz de harika bir fiyattan doğru arabayı bulmanıza yardımcı oluruz. Ancak bizde bundan daha fazlası var. Araba kiralamayı çok daha sorunsuz bir hale getirmek için buradayız..
</p>
<h2>Rezarvasyon Yapın</h2>
<p>
    İstediğiniz arabayı ve istiyorsanız Tam Koruma (ilave korumamız) veya araba koltuğu gibi ekstra hizmetleri seçer ve rezervasyon yaparsınız.
</p>
<h2> HAKKIMIZDA</h2>
<p>
    2018 yılında operasyonel kiralama hizmetleri vermek üzere kurulan CD Rent a Car, tüketicilerden gelen yoğun talep üzerine 2019 yılında bireysel müşterilere günlük araç kiralama hizmeti sağlamaya başlamıştır. “Yepyeni bir araç kiralama deneyimi” anlayışı ile çok kısa sürede önemli atılımlar yaparak büyüyen marka, her geçen gün artan hizmet noktaları ve portföyündeki 4.000 araç ile müşterilerine kaliteden ödün vermeden hizmet vermeye devam etmektedir. 2019 Mayıs ayında Durmus Oto tarafından satın alınan CD Rent a Car, 2019 Ağustos ayı itibariyle ise operasyonlarını Durmus Oto çatısı altında sürdürmektedir. 25 ilde 39 şube ile hizmet veren CD Rent a Car, “hedef kitlesinin karlı bir operasyona imkân verdiği” tüm illere yayılacaktır. Türkiye’nin ilk yerli  günlük araç kiralama» firmalarından olan CD Rent a Car, güler yüzlü karşılaması, ulaşılabilir fiyatları, güçlü markaları, üstün hizmet kalitesi ve geniş araç çeşitliliği ile araç kiralama sektöründe fark yaratmaktadır.
</p>

<br>
<br />

