
@{

    ViewBag.Title = "İletişim";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<img src="~/Content/Site/images/ilet.jpg" alt="İletişim " />


<div class="container">
    <div class="row justify-content-center text-center">
        <div class="col-7 text-center mb-5">
            <h2>Araç Kiralamak İçin Bize Ulaşın Veya Bu Formu Kullanın</h2>
            <p>Hemen aşagıdaki formu doldurun aracınızı hazırlıyalım.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-8 mb-5">
            <form action="#" method="post">
                <div class="form-group row">
                    <div class="col-md-6 mb-4 mb-lg-0">
                        <input type="text" class="form-control" placeholder="Ad">
                    </div>
                    <div class="col-md-6">
                        <input type="text" class="form-control" placeholder="Soyad">
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-md-12">
                        <input type="text" class="form-control" placeholder="Mail Adres">
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-md-12">
                        <textarea name="" id="" class="form-control" placeholder="Mesajınız." cols="30" rows="10"></textarea>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-6 mr-auto">
                        <input type="submit" class="btn btn-block btn-primary text-white py-3 px-5" value="Gönder">
                    </div>
                </div>
            </form>
        </div>
        <div class="col-lg-4 ml-auto">
            <div class="bg-white p-3 p-md-5">
                <h3 class="text-black mb-4">Adresimiz</h3>
                <ul class="list-unstyled footer-link">
                    <li class="d-block mb-3">
                        <span class="d-block text-black">Adres:</span>
                        <span>Mahmutbey, İstoç Oto Ticaret Merkezi R Blok No:118 Kat:1 Göztepe Mah, Bağcılar/İstanbul</span>
                    </li>
                    <li class="d-block mb-3"><span class="d-block text-black">Telefon:</span><span>444 31 66 44</span></li>
                    <li class="d-block mb-3"><span class="d-block text-black">Mail:</span><span>cdoto@gmail.com</span></li>
                </ul>
            </div>
        </div>
    </div>
</div>
    </div>


