
@{
    ViewBag.Title = "Durak3";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ANTALYA</h2>

<img src="~/Content/Site/images/antalya.jpg" alt="Antalya Hava Limanı" />


<h4>
    Antalya Araç Kiralama <h4>

        <p> Dünyanın en konforlu otellerine ev sahipliği yapan Antalya, gerçek bir turizm kenti. Akdeniz boyunca uzanan temiz sahilleri, ılık denizi, deniz ürünleri başta olmak üzere enfes lezzetteki mutfağı, yaz sporları için tasarlanmış alanları ile Antalya’da yapacak şeyler listesi epey uzun. Antalya tatilinde bolca dinlenip, her şey dahil otellerin sizi şımartmasına izin verebilirsiniz. Gün boyu sahilde güneşlenip, ılık sularda yüzerek keyif yapabilirsiniz. Antalya şehir merkezinden her noktaya Antalya araç kiralama seçenekleri ile ulaşmanız mümkün. Cd Rent Car araba kiralama konusunda Antalya’da büyük bir ağa sahip ve uygun fiyatlarla size karşılaştırma imkanı sunmakta. İstanbul araç kiralama seçeneğinde olduğu gibi bu lokasyonda da geniş bir kiralık araç yelpazesi sunan Cd Rent Car ile yolculukları konforlu hale getirebilirsiniz..</p>

        <h4>
            Antalya gezilecek & görülecek yerler <h4>

                <p>
                    Çevreyi keşfetmek üzere gezintiye çıkabilir, alışveriş merkezlerinde ihtiyaçlarınızı karşılayabilir, hediyelik bir şey alabilirsiniz. Aspendos Tiyatoru, Side Antik Tiyatrosu, Antalya Ulu Camii, Antalya Müzesi gibi şehrin tarihinde çok önemli bir yeri olan yapıları ziyaret edebilirsiniz. Eğer sanat merakınız varsa Antalya’da çok sayıda sanat galerisi ve sanat müzesi olduğunu da bilmelisiniz. Antalya’da Cd Rent Car’dan kiralık araç temin ederek rahatlıkla gezilecek ve görülecek noktalarına ulaşabilirsiniz. Antalya Kaleiçi, Termessos Kaplıcaları, Düden Şelaleleri, Antalya şehir pazarı, Suna İnan Kıraç Müzesi, Antalya Saat kulesi, Perge Antik Kenti Antalya’da mutlaka görülmesi gereken yerler arasında. Sizler için mutlaka görmeniz gereken bazı noktaları belirledik. İşte Antalya’da mutlaka görmeniz gereken yerler

                    Plajlar
                    Öncelikle Antalya’yı yaz aylarında ziyaret ediyorsanız, kesinlikle bir denizinin keyfini çıkartmadan bu şehirden ayrılmayın. Şehir merkezinden uygun fiyatlarla Antalya araç kiralama seçeneklerini kullanarak.Konyaaltı, Lara ve Olimpos plajları mutlaka görmeniz gereken noktalar.

                    Hadrian Kapısı
                    M.S. 2. yüzyılda Roma İmparatoru Hadrian’ın ziyareti için yapılan bu yapının diğer adı Üçkapılar’dır aynı zamanda.

                    Hıdırlık Kulesi
                    Antalya Kaleiçi’nde, surlar üzerine bir deniz feneri olarak inşa edilmiş olan silindirik kule Hıdırlık Kulesi de kesinlikle görülmeye değer.

                    Yivli Minare
                    8 metre yüksekliğinde olup Antalya’nın simgelerinden biri haline gelen, 8 yivli Yivli Minare de bizce ziyaret edilmesi gereken noktalardan. 13. yüzyıl Selçuklu dönemine dayanan bu yapı hükümdar Gıyaseddin Keyhüsrev adına yapılmıştır.

                    Kesik Minare
                    Yivli Minare kadar ünlü olmasa da, yine Antalya’nın ünlü minarelerinden olan Kesik Minare’yi de görmek isteyebilirsiniz.

                    Kızılkule
                    Yine 13. yüzyıl eserlerinden olan Alanya’nın da simgesi haline gelen Kızılkule tavsiyelerimiz arasında.

                    Şelaleler
                    Eğer doğal güzellikler ile ilgileniyorsanız şehir merkezinden oto kiralama ile yaklaşık 10 kilometre uzaklıktaki Düden Şelalesi ile şehre 72 kilometre uzaklıkta, Manavgat ilçesinde bulunan ve kent gürültüsünden uzaklaşmak için birebir olan Manavgat Şelalesi’ni mutlaka görün.

                    Tazı Kanyonu ve Köprülü Kanyon
                    Antalya Tazı Kanyonu, sınırları Antalya Serik, Manavgat ilçeleri ile Isparta Sütçüler İlçesi arasında yer alan Köprülü Kanyon Milli Parkı içerisinde yer alır. Buraya giderken yol üstünde Köprülü Kanyon ve Selge Antik Kentine de uğrayabilirsiniz.

                    Antalya Müzesi
                    Türkiye’de kesinlikle görülmesi gereken müzelerin arsında yer alan Antalya Müzesi, Anadolu’nun kadim hazinelerinin bir araya toplandığı bir medeniyetler geçidi gibidir. Bu eşsiz kültür noktasını da mutlaka görülecek yerler listenize ekleyin.

                    Likya Antik Kenti
                    1988 yılında Letoon Antik Kenti’yle birlikte Unesco Dünya Mirası Listesi’ne alınan Xanthos Antik Kentidiğer adıyla tarihi Likya Şehri, Anadolu’nun en göz kamaştırıcı hazinelerinden biridir.
                </p>


                <h4>
                    Antalya’da Ne Yenir? <h4>
                        <p>
                            Eğer Antalya’da yöresel lezzetleri tatmak niyetindeyseniz, bizim size ilk önerimiz Antalya Piyazı olacaktır. Tahinli veya taratorlu piyaz olarak da anılan bu lezzet bildiğiniz piyazlardan biraz farklı bir tada sahip. Enginarlı Girit Kebabı ve Huluklu Çorbası’nı da mutlka deneyin. Bunların yanında, her öğün sofraya konabilecek cinsten bir tat olan Alanya bohçası, Toros salatası ve Antalya’ya özgü olan Hibeş de yiyebilirsiniz. Biber Frigya dolması ve Finike usulü Muz Tatlısı Antalya’da yiyebileceğiniz yöresel lezzetlerden. Lara’da kanatçılar ve bazı köylerdeki alabalık menüleri kesinlikle yemeye değer olup yanık dondurmayı da yine Antalya’da tadabilirsiniz. Tüm bu lezzetleri şehir merkezi ya da Antalya Havalimanı’ndan araç kiralayarak oldukça uygun tutarlarda başlayan fiyatlarla bir gastronomi turu içerisinde tadabilirsiniz.

                        </p>

                        <h4>
                            Antalya’da nerede kalınır? <h4>
                                <p>
                                    Antalya’ya gelen herkes genellikle şehir merkezinde kalır ancak biz size çok otantik bir konaklamaya noktası önereceğiz. Olimpos’ta yer alan Ağaç Evler’de mutlaka bir gece kalmanızı öneririz. Gecelik 100 liradan başlayan fiyatlarla mümkün. Ama yarattığı muhteşem doğal ortam paha biçilemez. Antalya’ya geldiğinizde bu özel noktayı bir kenara not edin. Bunun dışında Antalya muhteşem beş yıldızlı tatil köylerine ev shaipliği yapan bir şehir. Özellikle Kemer ve Göynük dünyaca ünlü otellere ev sahipliği yapmaktalar.
                                </p>
                                <h4>
                                    Antalya araç & oto kiralama <h4>
                                        <p>
                                            Antalya araç kiralama için Cd Rent Car’u tercih edebilirsiniz. Sistemli, kolay, hızlı ve avantajlı bir biçimde uygun fiyatlarla kiralık araç Antalya seçeneğini bulabilirsiniz. Cd Rent Car.com sistemi, Antalya seyahatinizde şehri keyifle keşfetmeniz için oto kiralama sizin için ideal ulaşım tercihi olacaktır. Cd Rent Car aynı zamanda uygulamasıyla da Antalya Havalimanı ve şehir merkezinden karşılaştırmalı araba kiralama seçeneklerini size sunacaktır. Antalyanın şehir merkezinin kara ulaşımına elverişli yolları araç kiralama Antalya fikrini oldukça cazip kılıyor. Araba kiralama Antalya’da Cd Rent Car’ın sunduğu avantajlarla dönemsel olarak değişse de genel olarak 70 TL’den başlayan fiyatlar ile mümkün. Antalya, şehir kurulumu açısından gezilip görülecek yerleri biraz birbirine uzak bir yapıya sahip. Bu nedenle eğer Antalya’ya otobüs ya da uçakla gittiyseniz Antalya havalimanından kiralık araç, Antalya şehir merkezinden araç kiralama seçeneklerini deneyebilirsiniz. Henüz uçak yolculuğuna başlamamışken ya da otobüsle şehre varmadan Antalya’da ucuza araç kiralama avantajı için Cd Rent Car.com’u tercih edebilirsiniz.

                                        </p>


                                        <h4>
                                            Antalya Havalimanı <h4>
                                                <p>

                                                    Antalya’ya iş, tatil ya da yakınlarınızı ziyaret etmek için gittiğinizde havalimanını sıklıkla kullanıyorsanız Antalya Havalimanından toplu taşıma ile ulaşımın biraz zahmetli olduğunu fark etmiş olmalısınız. Bu nedenle pek çok otel havalimanı transferi için ek hizmet sunuyor. Antalya Havalimanı araç kiralama seçenekleri de oldukça işlevsel bir çözüm olabiliyor.

                                                    Antalya, şehir kurulumu açısından gezilip görülecek yerleri biraz birbirine uzak bir yapıya sahip. Bu nedenle eğer Antalya’ya otobüs ya da uçakla gittiyseniz Antalya Havalimanı’ndan kiralık araç seçeneklerini deneyebilirsiniz. Henüz uçak yolculuğuna başlamamışken ya da otobüsle şehre varmadan Antalya’da uygun fiyatlarla araç kiralama avantajı için Cd Rent Car’ı tercih edebilirsiniz


                                                </p>

