
@{
    ViewBag.Title = "EkonomikCars";
    Layout = "~/Views/Shared/_Layout.cshtml";
}





<div class="site-section bg-light">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="item-1">
                    <a href="#"><img src="~/Content/Site/images/clio1.jpg" width="320" height="250" alt="Image" class="img-fluid"></a>
                    <div class="item-1-contents">
                        <div class="text-center">
                            <h3><a href="#">CLİO 1.5 dCi TOUCH</a></h3>
                            <div class="rating">
                                <span class="icon-star text-warning"></span>
                                <span class="icon-star text-warning"></span>
                                <span class="icon-star text-warning"></span>
                                <span class="icon-star text-warning"></span>
                                <span class="icon-star text-warning"></span>
                            </div>
                            <div class="rent-price"><span>Günlük 250TL /</span>KDV</div>
                        </div>
                        <ul class="specs">



                            <li>
                                <span>Kapı</span>
                                <span class="spec">2</span>
                            </li>
                            <li>
                                <span>Koltuk </span>
                                <span class="spec">4</span>
                            </li>
                            <li>
                                <span>Yakıt</span>
                                <span class="spec">Dizel</span>
                            </li>
                            <li>
                                <span>Depo</span>
                                <span class="spec">%75</span>
                            </li>
                            <li>
                                <span>Yaş</span>
                                <span class="spec">+21</span>
                            </li>
                            <li>
                                <span>Ehliyet</span>
                                <span class="spec">+2 YIL</span>
                            </li>
                            <li>
                                <span>Vites</span>
                                <span class="spec">Otomatik</span>
                            </li>
                            <li>
                                <span>Model</span>
                                <span class="spec">2018</span>
                            </li>
                        </ul>
                        <div class="d-flex action">
                            <a href="contact.html" class="btn btn-primary">Hemen Kirala</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 mb-4">
                <div class="item-1">
                    <a href="#"><img src="~/Content/Site/images/clio1.jpg" width="320" height="250" alt="Image" class="img-fluid"></a>
                    <div class="item-1-contents">
                        <div class="text-center">
                            <h3><a href="#">CLİO 1.5 dCi TOUCH</a></h3>
                            <div class="rent-price"><span>Günlük 250TL /</span>KDV</div>
                        </div>
                        <ul class="specs">



                            <li>
                                <span>Kapı</span>
                                <span class="spec">2</span>
                            </li>
                            <li>
                                <span>Koltuk </span>
                                <span class="spec">4</span>
                            </li>
                            <li>
                                <span>Yakıt</span>
                                <span class="spec">Dizel</span>
                            </li>
                            <li>
                                <span>Depo</span>
                                <span class="spec">%70</span>
                            </li>
                            <li>
                                <span>Yaş</span>
                                <span class="spec">+21</span>
                            </li>
                            <li>
                                <span>Ehliyet</span>
                                <span class="spec">+2 YIL</span>
                            </li>
                            <li>
                                <span>Vites</span>
                                <span class="spec"> Yarı Otomatik</span>
                            </li>
                            <li>
                                <span>Model</span>
                                <span class="spec">2018</span>
                            </li>
                        </ul>
                        <div class="d-flex action">
                            <a href="contact.html" class="btn btn-primary">Hemen Kirala</a>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-lg-4 col-md-6 mb-4">
                <div class="item-1">
                    <a href="#"><img src="~/Content/Site/images/clio1.jpg" width="320" height="250" alt="Image" class="img-fluid"></a>
                    <div class="item-1-contents">
                        <div class="text-center">
                            <h3><a href="#">CLİO 1.5 dCi İCON</a></h3>
                            <div class="rent-price"><span>Günlük 250TL /</span>KDV</div>
                        </div>
                        <ul class="specs">



                            <li>
                                <span>Kapı</span>
                                <span class="spec">2</span>
                            </li>
                            <li>
                                <span>Koltuk </span>
                                <span class="spec">4</span>
                            </li>
                            <li>
                                <span>Yakıt</span>
                                <span class="spec">Dizel</span>
                            </li>
                            <li>
                                <span>Depo</span>
                                <span class="spec">%50</span>
                            </li>
                            <li>
                                <span>Yaş</span>
                                <span class="spec">+21</span>
                            </li>
                            <li>
                                <span>Ehliyet</span>
                                <span class="spec">+2 YIL</span>
                            </li>
                            <li>
                                <span>Vites</span>
                                <span class="spec"> Otomatik</span>
                            </li>
                            <li>
                                <span>Model</span>
                                <span class="spec">2018</span>
                            </li>
                        </ul>
                        <div class="d-flex action">
                            <a href="contact.html" class="btn btn-primary">Hemen Kirala</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 mb-4">
                <div class="item-1">
                    <a href="#"><img src="~/Content/Site/images/clio2.jpg" width="320" height="250" alt="Image" class="img-fluid"></a>
                    <div class="item-1-contents">
                        <div class="text-center">
                            <h3><a href="#">CLİO 1.0 TOUCH</a></h3>
                            <div class="rent-price"><span>Günlük 255TL /</span>KDV</div>
                        </div>
                        <ul class="specs">



                            <li>
                                <span>Kapı</span>
                                <span class="spec">4</span>
                            </li>
                            <li>
                                <span>Koltuk </span>
                                <span class="spec">4</span>
                            </li>
                            <li>
                                <span>Yakıt</span>
                                <span class="spec">Benzin</span>
                            </li>
                            <li>
                                <span>Depo</span>
                                <span class="spec">%50</span>
                            </li>
                            <li>
                                <span>Yaş</span>
                                <span class="spec">+21</span>
                            </li>
                            <li>
                                <span>Ehliyet</span>
                                <span class="spec">+2 YIL</span>
                            </li>
                            <li>
                                <span>Vites</span>
                                <span class="spec"> Otomatik</span>
                            </li>
                            <li>
                                <span>Model</span>
                                <span class="spec">2019</span>
                            </li>
                        </ul>
                        <div class="d-flex action">
                            <a href="contact.html" class="btn btn-primary">Hemen Kirala</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 mb-4">
                <div class="item-1">
                    <a href="#"><img src="~/Content/Site/images/clio2.jpg" width="320" height="250" alt="Image" class="img-fluid"></a>
                    <div class="item-1-contents">
                        <div class="text-center">
                            <h3><a href="#">CLİO 1.0 TOUCH</a></h3>
                            <div class="rent-price"><span>Günlük 255TL /</span>KDV</div>
                        </div>
                        <ul class="specs">



                            <li>
                                <span>Kapı</span>
                                <span class="spec">4</span>
                            </li>
                            <li>
                                <span>Koltuk </span>
                                <span class="spec">4</span>
                            </li>
                            <li>
                                <span>Yakıt</span>
                                <span class="spec">Benzin</span>
                            </li>
                            <li>
                                <span>Depo</span>
                                <span class="spec">%50</span>
                            </li>
                            <li>
                                <span>Yaş</span>
                                <span class="spec">+21</span>
                            </li>
                            <li>
                                <span>Ehliyet</span>
                                <span class="spec">+2 YIL</span>
                            </li>
                            <li>
                                <span>Vites</span>
                                <span class="spec"> Yarı Otomatik</span>
                            </li>
                            <li>
                                <span>Model</span>
                                <span class="spec">2020</span>
                            </li>
                        </ul>
                        <div class="d-flex action">
                            <a href="contact.html" class="btn btn-primary">Hemen Kirala</a>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-lg-4 col-md-6 mb-4">
                <div class="item-1">
                    <a href="#"><img src="~/Content/Site/images/clio2.jpg" width="320" height="250" alt="Image" class="img-fluid"></a>
                    <div class="item-1-contents">
                        <div class="text-center">
                            <h3><a href="#">CLİO 1.0 JOY </a></h3>
                            <div class="rent-price"><span>Günlük 255TL /</span>KDV</div>
                        </div>
                        <ul class="specs">



                            <li>
                                <span>Kapı</span>
                                <span class="spec">4</span>
                            </li>
                            <li>
                                <span>Koltuk </span>
                                <span class="spec">4</span>
                            </li>
                            <li>
                                <span>Yakıt</span>
                                <span class="spec">Benzin</span>
                            </li>
                            <li>
                                <span>Depo</span>
                                <span class="spec">%50</span>
                            </li>
                            <li>
                                <span>Yaş</span>
                                <span class="spec">+21</span>
                            </li>
                            <li>
                                <span>Ehliyet</span>
                                <span class="spec">+2 YIL</span>
                            </li>
                            <li>
                                <span>Vites</span>
                                <span class="spec">Otomatik</span>
                            </li>
                            <li>
                                <span>Model</span>
                                <span class="spec">2020</span>
                            </li>
                        </ul>
                        <div class="d-flex action">
                            <a href="contact.html" class="btn btn-primary">Hemen Kirala</a>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-lg-4 col-md-6 mb-4">
                <div class="item-1">
                    <a href="#"><img src="~/Content/Site/images/megan1.jpg" width="320" height="250" alt="Image" class="img-fluid"></a>
                    <div class="item-1-contents">
                        <div class="text-center">
                            <h3><a href="#">MEGANE 1.5 dCi ICON</a></h3>
                            <div class="rent-price"><span>Günlük 350TL /</span>KDV</div>
                        </div>
                        <ul class="specs">



                            <li>
                                <span>Kapı</span>
                                <span class="spec">4</span>
                            </li>
                            <li>
                                <span>Koltuk </span>
                                <span class="spec">4</span>
                            </li>
                            <li>
                                <span>Yakıt</span>
                                <span class="spec">Dizel</span>
                            </li>
                            <li>
                                <span>Depo</span>
                                <span class="spec">%70</span>
                            </li>
                            <li>
                                <span>Yaş</span>
                                <span class="spec">+21</span>
                            </li>
                            <li>
                                <span>Ehliyet</span>
                                <span class="spec">+2 YIL</span>
                            </li>
                            <li>
                                <span>Vites</span>
                                <span class="spec">Manuel</span>
                            </li>
                            <li>
                                <span>Model</span>
                                <span class="spec">2018</span>
                            </li>
                        </ul>
                        <div class="d-flex action">
                            <a href="contact.html" class="btn btn-primary">Hemen Kirala</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="item-1">
                    <a href="#"><img src="~/Content/Site/images/megan1.jpg" width="320" height="250" alt="Image" class="img-fluid"></a>
                    <div class="item-1-contents">
                        <div class="text-center">
                            <h3><a href="#">MEGANE 1.5 dCi ICON</a></h3>
                            <div class="rent-price"><span>Günlük 350TL /</span>KDV</div>
                        </div>
                        <ul class="specs">



                            <li>
                                <span>Kapı</span>
                                <span class="spec">4</span>
                            </li>
                            <li>
                                <span>Koltuk </span>
                                <span class="spec">4</span>
                            </li>
                            <li>
                                <span>Yakıt</span>
                                <span class="spec">Dizel</span>
                            </li>
                            <li>
                                <span>Depo</span>
                                <span class="spec">%60</span>
                            </li>
                            <li>
                                <span>Yaş</span>
                                <span class="spec">+21</span>
                            </li>
                            <li>
                                <span>Ehliyet</span>
                                <span class="spec">+2 YIL</span>
                            </li>
                            <li>
                                <span>Vites</span>
                                <span class="spec">Otomatik</span>
                            </li>
                            <li>
                                <span>Model</span>
                                <span class="spec">2018</span>
                            </li>
                        </ul>
                        <div class="d-flex action">
                            <a href="contact.html" class="btn btn-primary">Hemen Kirala</a>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-lg-4 col-md-6 mb-4">
                <div class="item-1">
                    <a href="#"><img src="~/Content/Site/images/megan1.jpg" width="320" height="250" alt="Image" class="img-fluid"></a>
                    <div class="item-1-contents">
                        <div class="text-center">
                            <h3><a href="#">MEGANE 1.5 dCi JOY</a></h3>
                            <div class="rent-price"><span>Günlük 380TL /</span>KDV</div>
                        </div>
                        <ul class="specs">



                            <li>
                                <span>Kapı</span>
                                <span class="spec">4</span>
                            </li>
                            <li>
                                <span>Koltuk </span>
                                <span class="spec">4</span>
                            </li>
                            <li>
                                <span>Yakıt</span>
                                <span class="spec">Dizel</span>
                            </li>
                            <li>
                                <span>Depo</span>
                                <span class="spec">%60</span>
                            </li>
                            <li>
                                <span>Yaş</span>
                                <span class="spec">+21</span>
                            </li>
                            <li>
                                <span>Ehliyet</span>
                                <span class="spec">+2 YIL</span>
                            </li>
                            <li>
                                <span>Vites</span>
                                <span class="spec">Otomatik</span>
                            </li>
                            <li>
                                <span>Model</span>
                                <span class="spec">2020</span>
                            </li>
                        </ul>
                        <div class="d-flex action">
                            <a href="contact.html" class="btn btn-primary">Hemen Kirala</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 mb-4">
                <div class="item-1">
                    <a href="#"><img src="~/Content/Site/images/symbol.png" width="320" height="250" alt="Image" class="img-fluid"></a>
                    <div class="item-1-contents">
                        <div class="text-center">
                            <h3><a href="#">SYMBOL 1.5 DCİ JOY</a></h3>
                            <div class="rent-price"><span>Günlük 380TL /</span>KDV</div>
                        </div>
                        <ul class="specs">



                            <li>
                                <span>Kapı</span>
                                <span class="spec">4</span>
                            </li>
                            <li>
                                <span>Koltuk </span>
                                <span class="spec">4</span>
                            </li>
                            <li>
                                <span>Yakıt</span>
                                <span class="spec">Dizel</span>
                            </li>
                            <li>
                                <span>Depo</span>
                                <span class="spec">%15</span>
                            </li>
                            <li>
                                <span>Yaş</span>
                                <span class="spec">+21</span>
                            </li>
                            <li>
                                <span>Ehliyet</span>
                                <span class="spec">+2 YIL</span>
                            </li>
                            <li>
                                <span>Vites</span>
                                <span class="spec">Manuel</span>
                            </li>
                            <li>
                                <span>Model</span>
                                <span class="spec">2018</span>
                            </li>
                        </ul>
                        <div class="d-flex action">
                            <a href="contact.html" class="btn btn-primary">Hemen Kirala</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="item-1">
                    <a href="#"><img src="~/Content/Site/images/ford1.jpg" width="320" height="250" alt="Image" class="img-fluid"></a>
                    <div class="item-1-contents">
                        <div class="text-center">
                            <h3><a href="#">FOCUS 1.6 TREND X</a></h3>
                            <div class="rent-price"><span>Günlük 400TL /</span>KDV</div>
                        </div>
                        <ul class="specs">



                            <li>
                                <span>Kapı</span>
                                <span class="spec">4</span>
                            </li>
                            <li>
                                <span>Koltuk </span>
                                <span class="spec">4</span>
                            </li>
                            <li>
                                <span>Yakıt</span>
                                <span class="spec">Dizel</span>
                            </li>
                            <li>
                                <span>Depo</span>
                                <span class="spec">%10</span>
                            </li>
                            <li>
                                <span>Yaş</span>
                                <span class="spec">+21</span>
                            </li>
                            <li>
                                <span>Ehliyet</span>
                                <span class="spec">+2 YIL</span>
                            </li>
                            <li>
                                <span>Vites</span>
                                <span class="spec">Otomatik</span>
                            </li>
                            <li>
                                <span>Model</span>
                                <span class="spec">2020</span>
                            </li>
                        </ul>
                        <div class="d-flex action">
                            <a href="contact.html" class="btn btn-primary">Hemen Kirala</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 mb-4">
                <div class="item-1">
                    <a href="#"><img src="~/Content/Site/images/kia.jpg" width="320" height="250" alt="Image" class="img-fluid"></a>
                    <div class="item-1-contents">
                        <div class="text-center">
                            <h3><a href="#">CERATO 1.6 CONCEPT PLUS</a></h3>
                            <div class="rent-price"><span>Günlük 380TL /</span>KDV</div>
                        </div>
                        <ul class="specs">



                            <li>
                                <span>Kapı</span>
                                <span class="spec">4</span>
                            </li>
                            <li>
                                <span>Koltuk </span>
                                <span class="spec">4</span>
                            </li>
                            <li>
                                <span>Yakıt</span>
                                <span class="spec">Dizel</span>
                            </li>
                            <li>
                                <span>Depo</span>
                                <span class="spec">%20</span>
                            </li>
                            <li>
                                <span>Yaş</span>
                                <span class="spec">+21</span>
                            </li>
                            <li>
                                <span>Ehliyet</span>
                                <span class="spec">+2 YIL</span>
                            </li>
                            <li>
                                <span>Vites</span>
                                <span class="spec">Otomatik</span>
                            </li>
                            <li>
                                <span>Model</span>
                                <span class="spec">2016</span>
                            </li>
                        </ul>
                        <div class="d-flex action">
                            <a href="contact.html" class="btn btn-primary">Hemen Kirala</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="item-1">
                    <a href="#"><img src="~/Content/Site/images/kia2.jpg" width="320" height="250" alt="Image" class="img-fluid"></a>
                    <div class="item-1-contents">
                        <div class="text-center">
                            <h3><a href="#">SPORTAGE 1,6 ELEGANCE KONFOR </a></h3>
                            <div class="rent-price"><span>Günlük 450TL /</span>KDV</div>
                        </div>
                        <ul class="specs">



                            <li>
                                <span>Kapı</span>
                                <span class="spec">4</span>
                            </li>
                            <li>
                                <span>Koltuk </span>
                                <span class="spec">6</span>
                            </li>
                            <li>
                                <span>Yakıt</span>
                                <span class="spec">Benzin</span>
                            </li>
                            <li>
                                <span>Depo</span>
                                <span class="spec">%90</span>
                            </li>
                            <li>
                                <span>Yaş</span>
                                <span class="spec">+21</span>
                            </li>
                            <li>
                                <span>Ehliyet</span>
                                <span class="spec">+2 YIL</span>
                            </li>
                            <li>
                                <span>Vites</span>
                                <span class="spec">Otomatik</span>
                            </li>
                            <li>
                                <span>Model</span>
                                <span class="spec">2020</span>
                            </li>
                        </ul>
                        <div class="d-flex action">
                            <a href="contact.html" class="btn btn-primary">Hemen Kirala</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="item-1">
                    <a href="#"><img src="~/Content/Site/images/kia3.jpg" width="320" height="250" alt="Image" class="img-fluid"></a>
                    <div class="item-1-contents">
                        <div class="text-center">
                            <h3><a href="#">STONIC 1.0 COOL</a></h3>
                            <div class="rent-price"><span>Günlük 455TL /</span>KDV</div>
                        </div>
                        <ul class="specs">



                            <li>
                                <span>Kapı</span>
                                <span class="spec">4</span>
                            </li>
                            <li>
                                <span>Koltuk </span>
                                <span class="spec">6</span>
                            </li>
                            <li>
                                <span>Yakıt</span>
                                <span class="spec">Benzin</span>
                            </li>
                            <li>
                                <span>Depo</span>
                                <span class="spec">%20</span>
                            </li>
                            <li>
                                <span>Yaş</span>
                                <span class="spec">+21</span>
                            </li>
                            <li>
                                <span>Ehliyet</span>
                                <span class="spec">+2 YIL</span>
                            </li>
                            <li>
                                <span>Vites</span>
                                <span class="spec">Otomatik</span>
                            </li>
                            <li>
                                <span>Model</span>
                                <span class="spec">2021</span>
                            </li>
                        </ul>
                        <div class="d-flex action">
                            <a href="contact.html" class="btn btn-primary">Hemen Kirala</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="item-1">
                    <a href="#"><img src="~/Content/Site/images/kia4.jpg" width="320" height="250" alt="Image" class="img-fluid"></a>
                    <div class="item-1-contents">
                        <div class="text-center">
                            <h3><a href="#">RIO 1.4</a></h3>
                            <div class="rent-price"><span>Günlük 380TL /</span>KDV</div>
                        </div>
                        <ul class="specs">



                            <li>
                                <span>Kapı</span>
                                <span class="spec">4</span>
                            </li>
                            <li>
                                <span>Koltuk </span>
                                <span class="spec">4</span>
                            </li>
                            <li>
                                <span>Yakıt</span>
                                <span class="spec">Dizel</span>
                            </li>
                            <li>
                                <span>Depo</span>
                                <span class="spec">%20</span>
                            </li>
                            <li>
                                <span>Yaş</span>
                                <span class="spec">+21</span>
                            </li>
                            <li>
                                <span>Ehliyet</span>
                                <span class="spec">+2 YIL</span>
                            </li>
                            <li>
                                <span>Vites</span>
                                <span class="spec">Otomatik</span>
                            </li>
                            <li>
                                <span>Model</span>
                                <span class="spec">2021</span>
                            </li>
                        </ul>
                        <div class="d-flex action">
                            <a href="contact.html" class="btn btn-primary">Hemen Kirala</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 mb-4">
                <div class="item-1">
                    <a href="#"><img src="~/Content/Site/images/passat.jpg" width="320" height="250" alt="Image" class="img-fluid"></a>
                    <div class="item-1-contents">
                        <div class="text-center">
                            <h3><a href="#">PASSAT 1.6 COMFORTLINE</a></h3>
                            <div class="rent-price"><span>Günlük 390TL /</span>KDV</div>
                        </div>
                        <ul class="specs">



                            <li>
                                <span>Kapı</span>
                                <span class="spec">4</span>
                            </li>
                            <li>
                                <span>Koltuk </span>
                                <span class="spec">4</span>
                            </li>
                            <li>
                                <span>Yakıt</span>
                                <span class="spec">Dizel</span>
                            </li>
                            <li>
                                <span>Depo</span>
                                <span class="spec">%50</span>
                            </li>
                            <li>
                                <span>Yaş</span>
                                <span class="spec">+25</span>
                            </li>
                            <li>
                                <span>Ehliyet</span>
                                <span class="spec">+2 YIL</span>
                            </li>
                            <li>
                                <span>Vites</span>
                                <span class="spec">Otomatik</span>
                            </li>
                            <li>
                                <span>Model</span>
                                <span class="spec">2018</span>
                            </li>
                        </ul>
                        <div class="d-flex action">
                            <a href="contact.html" class="btn btn-primary">Hemen Kirala</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="item-1">
                    <a href="#"><img src="~/Content/Site/images/golf1.jpg" width="325" height="250" alt="Image" class="img-fluid"></a>
                    <div class="item-1-contents">
                        <div class="text-center">
                            <h3><a href="#">GOLF 1.6 COMFORTLINE </a></h3>
                            <div class="rent-price"><span>Günlük 380TL /</span>KDV</div>
                        </div>
                        <ul class="specs">



                            <li>
                                <span>Kapı</span>
                                <span class="spec">4</span>
                            </li>
                            <li>
                                <span>Koltuk </span>
                                <span class="spec">4</span>
                            </li>
                            <li>
                                <span>Yakıt</span>
                                <span class="spec">Dizel</span>
                            </li>
                            <li>
                                <span>Depo</span>
                                <span class="spec">%35</span>
                            </li>
                            <li>
                                <span>Yaş</span>
                                <span class="spec">+21</span>
                            </li>
                            <li>
                                <span>Ehliyet</span>
                                <span class="spec">+2 YIL</span>
                            </li>
                            <li>
                                <span>Vites</span>
                                <span class="spec">Otomatik</span>
                            </li>
                            <li>
                                <span>Model</span>
                                <span class="spec">2019</span>
                            </li>
                        </ul>
                        <div class="d-flex action">
                            <a href="contact.html" class="btn btn-primary">Hemen Kirala</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="item-1">
                    <a href="#"><img src="~/Content/Site/images/polo.jpg" width="320" height="250" alt="Image" class="img-fluid"></a>
                    <div class="item-1-contents">
                        <div class="text-center">
                            <h3><a href="#">POLO 1.0 HIGHLINE</a></h3>
                            <div class="rent-price"><span>Günlük 380TL /</span>KDV</div>
                        </div>
                        <ul class="specs">



                            <li>
                                <span>Kapı</span>
                                <span class="spec">4</span>
                            </li>
                            <li>
                                <span>Koltuk </span>
                                <span class="spec">4</span>
                            </li>
                            <li>
                                <span>Yakıt</span>
                                <span class="spec">Dizel</span>
                            </li>
                            <li>
                                <span>Depo</span>
                                <span class="spec">%80</span>
                            </li>
                            <li>
                                <span>Yaş</span>
                                <span class="spec">+21</span>
                            </li>
                            <li>
                                <span>Ehliyet</span>
                                <span class="spec">+2 YIL</span>
                            </li>
                            <li>
                                <span>Vites</span>
                                <span class="spec">Otomatik</span>
                            </li>
                            <li>
                                <span>Model</span>
                                <span class="spec">2019</span>
                            </li>
                        </ul>
                        <div class="d-flex action">
                            <a href="contact.html" class="btn btn-primary">Hemen Kirala</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="item-1">
                    <a href="#"><img src="~/Content/Site/images/polo1.jpg" width="320" height="250" alt="Image" class="img-fluid"></a>
                    <div class="item-1-contents">
                        <div class="text-center">
                            <h3><a href="#">POLO 1.0 LIFE</a></h3>
                            <div class="rent-price"><span>Günlük 395TL /</span>KDV</div>
                        </div>
                        <ul class="specs">



                            <li>
                                <span>Kapı</span>
                                <span class="spec">4</span>
                            </li>
                            <li>
                                <span>Koltuk </span>
                                <span class="spec">4</span>
                            </li>
                            <li>
                                <span>Yakıt</span>
                                <span class="spec">Benzin</span>
                            </li>
                            <li>
                                <span>Depo</span>
                                <span class="spec">%40</span>
                            </li>
                            <li>
                                <span>Yaş</span>
                                <span class="spec">+21</span>
                            </li>
                            <li>
                                <span>Ehliyet</span>
                                <span class="spec">+2 YIL</span>
                            </li>
                            <li>
                                <span>Vites</span>
                                <span class="spec">Otomatik</span>
                            </li>
                            <li>
                                <span>Model</span>
                                <span class="spec">2022</span>
                            </li>
                        </ul>
                        <div class="d-flex action">
                            <a href="contact.html" class="btn btn-primary">Hemen Kirala</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="item-1">
                    <a href="#"><img src="~/Content/Site/images/fiat1.jpg" width="320" height="250" alt="Image" class="img-fluid"></a>
                    <div class="item-1-contents">
                        <div class="text-center">
                            <h3><a href="#">EGEA 1.3 EASY</a></h3>
                            <div class="rent-price"><span>Günlük 375TL /</span>KDV</div>
                        </div>
                        <ul class="specs">



                            <li>
                                <span>Kapı</span>
                                <span class="spec">4</span>
                            </li>
                            <li>
                                <span>Koltuk </span>
                                <span class="spec">4</span>
                            </li>
                            <li>
                                <span>Yakıt</span>
                                <span class="spec">Dizel</span>
                            </li>
                            <li>
                                <span>Depo</span>
                                <span class="spec">%80</span>
                            </li>
                            <li>
                                <span>Yaş</span>
                                <span class="spec">+21</span>
                            </li>
                            <li>
                                <span>Ehliyet</span>
                                <span class="spec">+2 YIL</span>
                            </li>
                            <li>
                                <span>Vites</span>
                                <span class="spec">Otomatik</span>
                            </li>
                            <li>
                                <span>Model</span>
                                <span class="spec">2018</span>
                            </li>
                        </ul>
                        <div class="d-flex action">
                            <a href="contact.html" class="btn btn-primary">Hemen Kirala</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="item-1">
                    <a href="#"><img src="~/Content/Site/images/honda1.jpg" width="320" height="250" alt="Image" class="img-fluid"></a>
                    <div class="item-1-contents">
                        <div class="text-center">
                            <h3><a href="#">ACCENT BLUE 1.6 MODE PLUS</a></h3>
                            <div class="rent-price"><span>Günlük 380TL /</span>KDV</div>
                        </div>
                        <ul class="specs">



                            <li>
                                <span>Kapı</span>
                                <span class="spec">4</span>
                            </li>
                            <li>
                                <span>Koltuk </span>
                                <span class="spec">4</span>
                            </li>
                            <li>
                                <span>Yakıt</span>
                                <span class="spec">Dizel</span>
                            </li>
                            <li>
                                <span>Depo</span>
                                <span class="spec">%80</span>
                            </li>
                            <li>
                                <span>Yaş</span>
                                <span class="spec">+21</span>
                            </li>
                            <li>
                                <span>Ehliyet</span>
                                <span class="spec">+2 YIL</span>
                            </li>
                            <li>
                                <span>Vites</span>
                                <span class="spec">Otomatik</span>
                            </li>
                            <li>
                                <span>Model</span>
                                <span class="spec">2017</span>
                            </li>
                        </ul>
                        <div class="d-flex action">
                            <a href="contact.html" class="btn btn-primary">Hemen Kirala</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 mb-4">
                <div class="item-1">
                    <a href="#"><img src="~/Content/Site/images/honda2.png" width="320" height="250" alt="Image" class="img-fluid"></a>
                    <div class="item-1-contents">
                        <div class="text-center">
                            <h3><a href="#">İ-20 1.4 ELITE </a></h3>
                            <div class="rent-price"><span>Günlük 380TL /</span>KDV</div>
                        </div>
                        <ul class="specs">



                            <li>
                                <span>Kapı</span>
                                <span class="spec">4</span>
                            </li>
                            <li>
                                <span>Koltuk </span>
                                <span class="spec">4</span>
                            </li>
                            <li>
                                <span>Yakıt</span>
                                <span class="spec">Benzin</span>
                            </li>
                            <li>
                                <span>Depo</span>
                                <span class="spec">%100</span>
                            </li>
                            <li>
                                <span>Yaş</span>
                                <span class="spec">+21</span>
                            </li>
                            <li>
                                <span>Ehliyet</span>
                                <span class="spec">+2 YIL</span>
                            </li>
                            <li>
                                <span>Vites</span>
                                <span class="spec">Otomatik</span>
                            </li>
                            <li>
                                <span>Model</span>
                                <span class="spec">2017</span>
                            </li>
                        </ul>
                        <div class="d-flex action">
                            <a href="contact.html" class="btn btn-primary">Hemen Kirala</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="item-1">
                    <a href="#"><img src="~/Content/Site/images/honda3.png" width="320" height="250" alt="Image" class="img-fluid"></a>
                    <div class="item-1-contents">
                        <div class="text-center">
                            <h3><a href="#">İ-20 1.4 ELITES</a></h3>
                            <div class="rent-price"><span>Günlük 380TL /</span>KDV</div>
                        </div>
                        <ul class="specs">



                            <li>
                                <span>Kapı</span>
                                <span class="spec">4</span>
                            </li>
                            <li>
                                <span>Koltuk </span>
                                <span class="spec">4</span>
                            </li>
                            <li>
                                <span>Yakıt</span>
                                <span class="spec">Dizel</span>
                            </li>
                            <li>
                                <span>Depo</span>
                                <span class="spec">%80</span>
                            </li>
                            <li>
                                <span>Yaş</span>
                                <span class="spec">+21</span>
                            </li>
                            <li>
                                <span>Ehliyet</span>
                                <span class="spec">+2 YIL</span>
                            </li>
                            <li>
                                <span>Vites</span>
                                <span class="spec">Otomatik</span>
                            </li>
                            <li>
                                <span>Model</span>
                                <span class="spec">2017</span>
                            </li>
                        </ul>
                        <div class="d-flex action">
                            <a href="contact.html" class="btn btn-primary">Hemen Kirala</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="item-1">
                    <a href="#"><img src="~/Content/Site/images/honda4.jpg" width="320" height="250" alt="Image" class="img-fluid"></a>
                    <div class="item-1-contents">
                        <div class="text-center">
                            <h3><a href="#">ELANTRA 1.6 D-CVVT STYLE</a></h3>
                            <div class="rent-price"><span>Günlük 380TL /</span>KDV</div>
                        </div>
                        <ul class="specs">



                            <li>
                                <span>Kapı</span>
                                <span class="spec">4</span>
                            </li>
                            <li>
                                <span>Koltuk </span>
                                <span class="spec">4</span>
                            </li>
                            <li>
                                <span>Yakıt</span>
                                <span class="spec">Dizel</span>
                            </li>
                            <li>
                                <span>Depo</span>
                                <span class="spec">%80</span>
                            </li>
                            <li>
                                <span>Yaş</span>
                                <span class="spec">+21</span>
                            </li>
                            <li>
                                <span>Ehliyet</span>
                                <span class="spec">+2 YIL</span>
                            </li>
                            <li>
                                <span>Vites</span>
                                <span class="spec">Otomatik</span>
                            </li>
                            <li>
                                <span>Model</span>
                                <span class="spec">2017</span>
                            </li>
                        </ul>
                        <div class="d-flex action">
                            <a href="contact.html" class="btn btn-primary">Hemen Kirala</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 mb-4">
                <div class="item-1">
                    <a href="#"><img src="~/Content/Site/images/pejo1.jpg" width="320" height="250" alt="Image" class="img-fluid"></a>
                    <div class="item-1-contents">
                        <div class="text-center">
                            <h3><a href="#">301 1.6 ACTIVE</a></h3>
                            <div class="rent-price"><span>Günlük 380TL /</span>KDV</div>
                        </div>
                        <ul class="specs">



                            <li>
                                <span>Kapı</span>
                                <span class="spec">4</span>
                            </li>
                            <li>
                                <span>Koltuk </span>
                                <span class="spec">4</span>
                            </li>
                            <li>
                                <span>Yakıt</span>
                                <span class="spec">Dizel</span>
                            </li>
                            <li>
                                <span>Depo</span>
                                <span class="spec">%80</span>
                            </li>
                            <li>
                                <span>Yaş</span>
                                <span class="spec">+21</span>
                            </li>
                            <li>
                                <span>Ehliyet</span>
                                <span class="spec">+2 YIL</span>
                            </li>
                            <li>
                                <span>Vites</span>
                                <span class="spec">Manuel</span>
                            </li>
                            <li>
                                <span>Model</span>
                                <span class="spec">2017</span>
                            </li>
                        </ul>
                        <div class="d-flex action">
                            <a href="contact.html" class="btn btn-primary">Hemen Kirala</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="item-1">
                    <a href="#"><img src="~/Content/Site/images/honda4.jpg" width="320" height="250" alt="Image" class="img-fluid"></a>
                    <div class="item-1-contents">
                        <div class="text-center">
                            <h3><a href="#">208 1.2 PRİME</a></h3>
                            <div class="rent-price"><span>Günlük 380TL /</span>KDV</div>
                        </div>
                        <ul class="specs">



                            <li>
                                <span>Kapı</span>
                                <span class="spec">4</span>
                            </li>
                            <li>
                                <span>Koltuk </span>
                                <span class="spec">4</span>
                            </li>
                            <li>
                                <span>Yakıt</span>
                                <span class="spec">Benzin</span>
                            </li>
                            <li>
                                <span>Depo</span>
                                <span class="spec">%100</span>
                            </li>
                            <li>
                                <span>Yaş</span>
                                <span class="spec">+21</span>
                            </li>
                            <li>
                                <span>Ehliyet</span>
                                <span class="spec">+2 YIL</span>
                            </li>
                            <li>
                                <span>Vites</span>
                                <span class="spec">Otomatik</span>
                            </li>
                            <li>
                                <span>Model</span>
                                <span class="spec">2021</span>
                            </li>
                        </ul>
                        <div class="d-flex action">
                            <a href="contact.html" class="btn btn-primary">Hemen Kirala</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="item-1">
                    <a href="#"><img src="~/Content/Site/images/pejo2.jpg" width="320" height="250" alt="Image" class="img-fluid"></a>
                    <div class="item-1-contents">
                        <div class="text-center">
                            <h3><a href="#">208 1.2 PRİME </a></h3>
                            <div class="rent-price"><span>Günlük 380TL /</span>KDV</div>
                        </div>
                        <ul class="specs">



                            <li>
                                <span>Kapı</span>
                                <span class="spec">4</span>
                            </li>
                            <li>
                                <span>Koltuk </span>
                                <span class="spec">4</span>
                            </li>
                            <li>
                                <span>Yakıt</span>
                                <span class="spec">Dizel</span>
                            </li>
                            <li>
                                <span>Depo</span>
                                <span class="spec">%80</span>
                            </li>
                            <li>
                                <span>Yaş</span>
                                <span class="spec">+21</span>
                            </li>
                            <li>
                                <span>Ehliyet</span>
                                <span class="spec">+2 YIL</span>
                            </li>
                            <li>
                                <span>Vites</span>
                                <span class="spec">Otomatik</span>
                            </li>
                            <li>
                                <span>Model</span>
                                <span class="spec">2021</span>
                            </li>
                        </ul>
                        <div class="d-flex action">
                            <a href="contact.html" class="btn btn-primary">Hemen Kirala</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="item-1">
                    <a href="#"><img src="~/Content/Site/images/pejo3.jpg" width="320" height="250" alt="Image" class="img-fluid"></a>
                    <div class="item-1-contents">
                        <div class="text-center">
                            <h3><a href="#">208 1.2 PRİME </a></h3>
                            <div class="rent-price"><span>Günlük 380TL /</span>KDV</div>
                        </div>
                        <ul class="specs">



                            <li>
                                <span>Kapı</span>
                                <span class="spec">4</span>
                            </li>
                            <li>
                                <span>Koltuk </span>
                                <span class="spec">4</span>
                            </li>
                            <li>
                                <span>Yakıt</span>
                                <span class="spec">Dizel</span>
                            </li>
                            <li>
                                <span>Depo</span>
                                <span class="spec">%40</span>
                            </li>
                            <li>
                                <span>Yaş</span>
                                <span class="spec">+21</span>
                            </li>
                            <li>
                                <span>Ehliyet</span>
                                <span class="spec">+2 YIL</span>
                            </li>
                            <li>
                                <span>Vites</span>
                                <span class="spec">Otomatik</span>
                            </li>
                            <li>
                                <span>Model</span>
                                <span class="spec">2021</span>
                            </li>
                        </ul>
                        <div class="d-flex action">
                            <a href="contact.html" class="btn btn-primary">Hemen Kirala</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="item-1">
                    <a href="#"><img src="~/Content/Site/images/opel3.png" width="320" height="250" alt="Image" class="img-fluid"></a>
                    <div class="item-1-contents">
                        <div class="text-center">
                            <h3><a href="#">GRANDLAND X 1.5 ENJOY EXP. </a></h3>
                            <div class="rent-price"><span>Günlük 470TL /</span>KDV</div>
                        </div>
                        <ul class="specs">



                            <li>
                                <span>Kapı</span>
                                <span class="spec">4</span>
                            </li>
                            <li>
                                <span>Koltuk </span>
                                <span class="spec">6</span>
                            </li>
                            <li>
                                <span>Yakıt</span>
                                <span class="spec">Dizel</span>
                            </li>
                            <li>
                                <span>Depo</span>
                                <span class="spec">%80</span>
                            </li>
                            <li>
                                <span>Yaş</span>
                                <span class="spec">+23</span>
                            </li>
                            <li>
                                <span>Ehliyet</span>
                                <span class="spec">+2 YIL</span>
                            </li>
                            <li>
                                <span>Vites</span>
                                <span class="spec">Otomatik</span>
                            </li>
                            <li>
                                <span>Model</span>
                                <span class="spec">2021</span>
                            </li>
                        </ul>
                        <div class="d-flex action">
                            <a href="contact.html" class="btn btn-primary">Hemen Kirala</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="item-1">
                    <a href="#"><img src="~/Content/Site/images/opel.jpg" width="320" height="250" alt="Image" class="img-fluid"></a>
                    <div class="item-1-contents">
                        <div class="text-center">
                            <h3><a href="#">CROSSLAND X 1.5 EXCELENCE </a></h3>
                            <div class="rent-price"><span>Günlük 470TL /</span>KDV</div>
                        </div>
                        <ul class="specs">



                            <li>
                                <span>Kapı</span>
                                <span class="spec">4</span>
                            </li>
                            <li>
                                <span>Koltuk </span>
                                <span class="spec">6</span>
                            </li>
                            <li>
                                <span>Yakıt</span>
                                <span class="spec">Dizel</span>
                            </li>
                            <li>
                                <span>Depo</span>
                                <span class="spec">%80</span>
                            </li>
                            <li>
                                <span>Yaş</span>
                                <span class="spec">+23</span>
                            </li>
                            <li>
                                <span>Ehliyet</span>
                                <span class="spec">+2 YIL</span>
                            </li>
                            <li>
                                <span>Vites</span>
                                <span class="spec">Otomatik</span>
                            </li>
                            <li>
                                <span>Model</span>
                                <span class="spec">2020</span>
                            </li>
                        </ul>
                        <div class="d-flex action">
                            <a href="contact.html" class="btn btn-primary">Hemen Kirala</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="item-1">
                    <a href="#"><img src="~/Content/Site/images/opel1.png" width="320" height="250" alt="Image" class="img-fluid"></a>
                    <div class="item-1-contents">
                        <div class="text-center">
                            <h3><a href="#">CORSA 1.2 ELEGANCE </a></h3>
                            <div class="rent-price"><span>Günlük 370TL /</span>KDV</div>
                        </div>
                        <ul class="specs">



                            <li>
                                <span>Kapı</span>
                                <span class="spec">4</span>
                            </li>
                            <li>
                                <span>Koltuk </span>
                                <span class="spec">4</span>
                            </li>
                            <li>
                                <span>Yakıt</span>
                                <span class="spec">Benzin</span>
                            </li>
                            <li>
                                <span>Depo</span>
                                <span class="spec">%70</span>
                            </li>
                            <li>
                                <span>Yaş</span>
                                <span class="spec">+21</span>
                            </li>
                            <li>
                                <span>Ehliyet</span>
                                <span class="spec">+2 YIL</span>
                            </li>
                            <li>
                                <span>Vites</span>
                                <span class="spec">Otomatik</span>
                            </li>
                            <li>
                                <span>Model</span>
                                <span class="spec">2020</span>
                            </li>
                        </ul>
                        <div class="d-flex action">
                            <a href="contact.html" class="btn btn-primary">Hemen Kirala</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="item-1">
                    <a href="#"><img src="~/Content/Site/images/opel4.jpg" width="320" height="250" alt="Image" class="img-fluid"></a>
                    <div class="item-1-contents">
                        <div class="text-center">
                            <h3><a href="#">GRANDLAND X 1.5 EDITION & STD </a></h3>
                            <div class="rent-price"><span>Günlük 470TL /</span>KDV</div>
                        </div>
                        <ul class="specs">



                            <li>
                                <span>Kapı</span>
                                <span class="spec">4</span>
                            </li>
                            <li>
                                <span>Koltuk </span>
                                <span class="spec">6</span>
                            </li>
                            <li>
                                <span>Yakıt</span>
                                <span class="spec">Dizel</span>
                            </li>
                            <li>
                                <span>Depo</span>
                                <span class="spec">%50</span>
                            </li>
                            <li>
                                <span>Yaş</span>
                                <span class="spec">+23</span>
                            </li>
                            <li>
                                <span>Ehliyet</span>
                                <span class="spec">+2 YIL</span>
                            </li>
                            <li>
                                <span>Vites</span>
                                <span class="spec">Otomatik</span>
                            </li>
                            <li>
                                <span>Model</span>
                                <span class="spec">2020</span>
                            </li>
                        </ul>
                        <div class="d-flex action">
                            <a href="contact.html" class="btn btn-primary">Hemen Kirala</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="item-1">
                    <a href="#"><img src="~/Content/Site/images/seat1.jpg" width="320" height="250" alt="Image" class="img-fluid"></a>
                    <div class="item-1-contents">
                        <div class="text-center">
                            <h3><a href="#">LEON 1.6 EXCELLENCE </a></h3>
                            <div class="rent-price"><span>Günlük 470TL /</span>KDV</div>
                        </div>
                        <ul class="specs">



                            <li>
                                <span>Kapı</span>
                                <span class="spec">4</span>
                            </li>
                            <li>
                                <span>Koltuk </span>
                                <span class="spec">4</span>
                            </li>
                            <li>
                                <span>Yakıt</span>
                                <span class="spec">Dizel</span>
                            </li>
                            <li>
                                <span>Depo</span>
                                <span class="spec">%80</span>
                            </li>
                            <li>
                                <span>Yaş</span>
                                <span class="spec">+21</span>
                            </li>
                            <li>
                                <span>Ehliyet</span>
                                <span class="spec">+2 YIL</span>
                            </li>
                            <li>
                                <span>Vites</span>
                                <span class="spec">Otomatik</span>
                            </li>
                            <li>
                                <span>Model</span>
                                <span class="spec">2019</span>
                            </li>
                        </ul>
                        <div class="d-flex action">
                            <a href="contact.html" class="btn btn-primary">Hemen Kirala</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="item-1">
                    <a href="#"><img src="~/Content/Site/images/dacia1.jpg" width="320" height="250" alt="Image" class="img-fluid"></a>
                    <div class="item-1-contents">
                        <div class="text-center">
                            <h3><a href="#">SANDERO STEPWAY 1.0 PRESTIGE  </a></h3>
                            <div class="rent-price"><span>Günlük 480TL /</span>KDV</div>
                        </div>
                        <ul class="specs">



                            <li>
                                <span>Kapı</span>
                                <span class="spec">4</span>
                            </li>
                            <li>
                                <span>Koltuk </span>
                                <span class="spec">6</span>
                            </li>
                            <li>
                                <span>Yakıt</span>
                                <span class="spec">Benzin</span>
                            </li>
                            <li>
                                <span>Depo</span>
                                <span class="spec">%90</span>
                            </li>
                            <li>
                                <span>Yaş</span>
                                <span class="spec">+21</span>
                            </li>
                            <li>
                                <span>Ehliyet</span>
                                <span class="spec">+2 YIL</span>
                            </li>
                            <li>
                                <span>Vites</span>
                                <span class="spec">Otomatik</span>
                            </li>
                            <li>
                                <span>Model</span>
                                <span class="spec">2021</span>
                            </li>
                        </ul>
                        <div class="d-flex action">
                            <a href="contact.html" class="btn btn-primary">Hemen Kirala</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="item-1">
                    <a href="#"><img src="~/Content/Site/images/renos1.jpg" width="320" height="250" alt="Image" class="img-fluid"></a>
                    <div class="item-1-contents">
                        <div class="text-center">
                            <h3><a href="#">Renault Clio Hatchback 1.2 Benzinli </a></h3>
                            <div class="rent-price"><span>Günlük 485TL /</span>KDV</div>
                        </div>
                        <ul class="specs">



                            <li>
                                <span>Kapı</span>
                                <span class="spec">4</span>
                            </li>
                            <li>
                                <span>Koltuk </span>
                                <span class="spec">4</span>
                            </li>
                            <li>
                                <span>Yakıt</span>
                                <span class="spec">Benzin</span>
                            </li>
                            <li>
                                <span>Depo</span>
                                <span class="spec">%80</span>
                            </li>
                            <li>
                                <span>Yaş</span>
                                <span class="spec">+21</span>
                            </li>
                            <li>
                                <span>Ehliyet</span>
                                <span class="spec">+2 YIL</span>
                            </li>
                            <li>
                                <span>Vites</span>
                                <span class="spec">Otomatik</span>
                            </li>
                            <li>
                                <span>Model</span>
                                <span class="spec">2020</span>
                            </li>
                        </ul>
                        <div class="d-flex action">
                            <a href="contact.html" class="btn btn-primary">Hemen Kirala</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="item-1">
                    <a href="#"><img src="~/Content/Site/images/citro1.jpg" width="320" height="250" alt="Image" class="img-fluid"></a>
                    <div class="item-1-contents">
                        <div class="text-center">
                            <h3><a href="#">Citroen C-Elysee 1.2 Benzinli</a></h3>
                            <div class="rent-price"><span>Günlük 490TL /</span>KDV</div>
                        </div>
                        <ul class="specs">



                            <li>
                                <span>Kapı</span>
                                <span class="spec">4</span>
                            </li>
                            <li>
                                <span>Koltuk </span>
                                <span class="spec">4</span>
                            </li>
                            <li>
                                <span>Yakıt</span>
                                <span class="spec">Benzin</span>
                            </li>
                            <li>
                                <span>Depo</span>
                                <span class="spec">%80</span>
                            </li>
                            <li>
                                <span>Yaş</span>
                                <span class="spec">+21</span>
                            </li>
                            <li>
                                <span>Ehliyet</span>
                                <span class="spec">+2 YIL</span>
                            </li>
                            <li>
                                <span>Vites</span>
                                <span class="spec">Otomatik</span>
                            </li>
                            <li>
                                <span>Model</span>
                                <span class="spec">2020</span>
                            </li>
                        </ul>
                        <div class="d-flex action">
                            <a href="contact.html" class="btn btn-primary">Hemen Kirala</a>
                        </div>
                    </div>
                </div>
            </div>




