
@{
    ViewBag.Title = "LuxsCars";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="col-lg-4 col-md-6 mb-4">
    <div class="item-1">
        <a href="#"><img src="~/Content/Site/images/audi1.jpg" width="320" height="250" alt="Image" class="img-fluid"></a>
        <div class="item-1-contents">
            <div class="text-center">
                <h3><a href="#">Audi A3 Sedan 1.6 TDİ</a></h3>

                <div class="rent-price"><span>Günlük 1.950TL /</span>KDV</div>
            </div>
            <ul class="specs">



                <li>
                    <span>Kapı</span>
                    <span class="spec">4</span>
                </li>
                <li>
                    <span>Koltuk </span>
                    <span class="spec">6</span>
                </li>
                <li>
                    <span>Yakıt</span>
                    <span class="spec">Dizel</span>
                </li>
                <li>
                    <span>Depo</span>
                    <span class="spec">%90</span>
                </li>
                <li>
                    <span>Yaş</span>
                    <span class="spec">+21</span>
                </li>
                <li>
                    <span>Ehliyet</span>
                    <span class="spec">+2 YIL</span>
                </li>
                <li>
                    <span>Vites</span>
                    <span class="spec">Otomatik</span>
                </li>
                <li>
                    <span>Model</span>
                    <span class="spec">2021</span>
                </li>
            </ul>
            <div class="d-flex action">
                <a href="contact.html" class="btn btn-primary">Hemen Kirala</a>
            </div>
        </div>
    </div>
</div>
<div class="col-lg-4 col-md-6 mb-4">
    <div class="item-1">
        <a href="#"><img src="~/Content/Site/images/merso1.jpg" width="320" height="250" alt="Image" class="img-fluid"></a>
        <div class="item-1-contents">
            <div class="text-center">
                <h3><a href="#">Mercedes B180 1.6 Benzinli </a></h3>
                <div class="rent-price"><span>Günlük 2.250TL /</span>KDV</div>
            </div>
            <ul class="specs">



                <li>
                    <span>Kapı</span>
                    <span class="spec">4</span>
                </li>
                <li>
                    <span>Koltuk </span>
                    <span class="spec">6</span>
                </li>
                <li>
                    <span>Yakıt</span>
                    <span class="spec">Benzin</span>
                </li>
                <li>
                    <span>Depo</span>
                    <span class="spec">%90</span>
                </li>
                <li>
                    <span>Yaş</span>
                    <span class="spec">+21</span>
                </li>
                <li>
                    <span>Ehliyet</span>
                    <span class="spec">+2 YIL</span>
                </li>
                <li>
                    <span>Vites</span>
                    <span class="spec">Otomatik</span>
                </li>
                <li>
                    <span>Model</span>
                    <span class="spec">2021</span>
                </li>
            </ul>
            <div class="d-flex action">
                <a href="contact.html" class="btn btn-primary">Hemen Kirala</a>
            </div>
        </div>
    </div>
</div>
<div class="col-lg-4 col-md-6 mb-4">
    <div class="item-1">
        <a href="#"><img src="~/Content/Site/images/nissan2.jpg" width="320" height="250" alt="Image" class="img-fluid"></a>
        <div class="item-1-contents">
            <div class="text-center">
                <h3><a href="#">Nissan Qashgai 1.6 DCI</a></h3>
                <div class="rent-price"><span>Günlük 1.700TL /</span>KDV</div>
            </div>
            <ul class="specs">



                <li>
                    <span>Kapı</span>
                    <span class="spec">4</span>
                </li>
                <li>
                    <span>Koltuk </span>
                    <span class="spec">8</span>
                </li>
                <li>
                    <span>Yakıt</span>
                    <span class="spec">Dizel</span>
                </li>
                <li>
                    <span>Depo</span>
                    <span class="spec">%20</span>
                </li>
                <li>
                    <span>Yaş</span>
                    <span class="spec">+21</span>
                </li>
                <li>
                    <span>Ehliyet</span>
                    <span class="spec">+2 YIL</span>
                </li>
                <li>
                    <span>Vites</span>
                    <span class="spec">Otomatik</span>
                </li>
                <li>
                    <span>Model</span>
                    <span class="spec">2021</span>
                </li>
            </ul>
            <div class="d-flex action">
                <a href="contact.html" class="btn btn-primary">Hemen Kirala</a>
            </div>
        </div>
    </div>
</div>
<div class="col-lg-4 col-md-6 mb-4">
    <div class="item-1">
        <a href="#"><img src="~/Content/Site/images/skoda2.png" width="320" height="250" alt="Image" class="img-fluid"></a>
        <div class="item-1-contents">
            <div class="text-center">
                <h3><a href="#">Skoda Superb 1.6 TDI DSG</a></h3>
                <div class="rent-price"><span>Günlük 1.350TL /</span>KDV</div>
            </div>
            <ul class="specs">



                <li>
                    <span>Kapı</span>
                    <span class="spec">4</span>
                </li>
                <li>
                    <span>Koltuk </span>
                    <span class="spec">4</span>
                </li>
                <li>
                    <span>Yakıt</span>
                    <span class="spec">Dizel</span>
                </li>
                <li>
                    <span>Depo</span>
                    <span class="spec">%40</span>
                </li>
                <li>
                    <span>Yaş</span>
                    <span class="spec">+21</span>
                </li>
                <li>
                    <span>Ehliyet</span>
                    <span class="spec">+2 YIL</span>
                </li>
                <li>
                    <span>Vites</span>
                    <span class="spec">Otomatik</span>
                </li>
                <li>
                    <span>Model</span>
                    <span class="spec">2022</span>
                </li>
            </ul>
            <div class="d-flex action">
                <a href="contact.html" class="btn btn-primary">Hemen Kirala</a>
            </div>
        </div>
    </div>
</div>

<div class="col-lg-4 col-md-6 mb-4">
    <div class="item-1">
        <a href="#"><img src="~/Content/Site/images/passat1.jpg" width="320" height="250" alt="Image" class="img-fluid"></a>
        <div class="item-1-contents">
            <div class="text-center">
                <h3><a href="#">VW Passat 1.4 TSI DSG</a></h3>
                <div class="rent-price"><span>Günlük 1.550TL /</span>KDV</div>
            </div>
            <ul class="specs">



                <li>
                    <span>Kapı</span>
                    <span class="spec">4</span>
                </li>
                <li>
                    <span>Koltuk </span>
                    <span class="spec">4</span>
                </li>
                <li>
                    <span>Yakıt</span>
                    <span class="spec">Dizel</span>
                </li>
                <li>
                    <span>Depo</span>
                    <span class="spec">%70</span>
                </li>
                <li>
                    <span>Yaş</span>
                    <span class="spec">+25</span>
                </li>
                <li>
                    <span>Ehliyet</span>
                    <span class="spec">+2 YIL</span>
                </li>
                <li>
                    <span>Vites</span>
                    <span class="spec">Otomatik</span>
                </li>
                <li>
                    <span>Model</span>
                    <span class="spec">2021</span>
                </li>
            </ul>
            <div class="d-flex action">
                <a href="contact.html" class="btn btn-primary">Hemen Kirala</a>
            </div>
        </div>
    </div>
</div>
<div class="col-lg-4 col-md-6 mb-4">
    <div class="item-1">
        <a href="#"><img src="~/Content/Site/images/passat2.jpg" width="325" height="250" alt="Image" class="img-fluid"></a>
        <div class="item-1-contents">
            <div class="text-center">
                <h3><a href="#">VW Tiguan 2.0 4×4 TDI </a></h3>
                <div class="rent-price"><span>Günlük 1.950TL /</span>KDV</div>
            </div>
            <ul class="specs">



                <li>
                    <span>Kapı</span>
                    <span class="spec">4</span>
                </li>
                <li>
                    <span>Koltuk </span>
                    <span class="spec">8</span>
                </li>
                <li>
                    <span>Yakıt</span>
                    <span class="spec">Dizel</span>
                </li>
                <li>
                    <span>Depo</span>
                    <span class="spec">%75</span>
                </li>
                <li>
                    <span>Yaş</span>
                    <span class="spec">+21</span>
                </li>
                <li>
                    <span>Ehliyet</span>
                    <span class="spec">+2 YIL</span>
                </li>
                <li>
                    <span>Vites</span>
                    <span class="spec">Otomatik</span>
                </li>
                <li>
                    <span>Model</span>
                    <span class="spec">2022</span>
                </li>
            </ul>
            <div class="d-flex action">
                <a href="contact.html" class="btn btn-primary">Hemen Kirala</a>
            </div>
        </div>
    </div>
</div>
<div class="col-lg-4 col-md-6 mb-4">
    <div class="item-1">
        <a href="#"><img src="~/Content/Site/images/skoda3.jpg" width="320" height="250" alt="Image" class="img-fluid"></a>
        <div class="item-1-contents">
            <div class="text-center">
                <h3><a href="#">SCALA 1.6 PREMIUM</a></h3>
                <div class="rent-price"><span>Günlük 9.800TL /</span>KDV</div>
            </div>
            <ul class="specs">



                <li>
                    <span>Kapı</span>
                    <span class="spec">4</span>
                </li>
                <li>
                    <span>Koltuk </span>
                    <span class="spec">4</span>
                </li>
                <li>
                    <span>Yakıt</span>
                    <span class="spec">Dizel</span>
                </li>
                <li>
                    <span>Depo</span>
                    <span class="spec">%80</span>
                </li>
                <li>
                    <span>Yaş</span>
                    <span class="spec">+23</span>
                </li>
                <li>
                    <span>Ehliyet</span>
                    <span class="spec">+2 YIL</span>
                </li>
                <li>
                    <span>Vites</span>
                    <span class="spec">Otomatik</span>
                </li>
                <li>
                    <span>Model</span>
                    <span class="spec">2021</span>
                </li>
            </ul>
            <div class="d-flex action">
                <a href="contact.html" class="btn btn-primary">Hemen Kirala</a>
            </div>
        </div>
    </div>
</div>
<div class="col-lg-4 col-md-6 mb-4">
    <div class="item-1">
        <a href="#"><img src="~/Content/Site/images/audi2.jpg" width="320" height="250" alt="Image" class="img-fluid"></a>
        <div class="item-1-contents">
            <div class="text-center">
                <h3><a href="#">Audi A6 2.0 Turbo FSI Quattro</a></h3>

                <div class="rent-price"><span>Günlük 6.800TL /</span>KDV</div>
            </div>
            <ul class="specs">



                <li>
                    <span>Kapı</span>
                    <span class="spec">4</span>
                </li>
                <li>
                    <span>Koltuk </span>
                    <span class="spec">4</span>
                </li>
                <li>
                    <span>Yakıt</span>
                    <span class="spec">Benzin</span>
                </li>
                <li>
                    <span>Depo</span>
                    <span class="spec">%40</span>
                </li>
                <li>
                    <span>Yaş</span>
                    <span class="spec">+25</span>
                </li>
                <li>
                    <span>Ehliyet</span>
                    <span class="spec">+2 YIL</span>
                </li>
                <li>
                    <span>Vites</span>
                    <span class="spec">Otomatik</span>
                </li>
                <li>
                    <span>Model</span>
                    <span class="spec">2022</span>
                </li>
            </ul>
            <div class="d-flex action">
                <a href="contact.html" class="btn btn-primary">Hemen Kirala</a>
            </div>
        </div>
    </div>
</div>
<div class="col-lg-4 col-md-6 mb-4">
    <div class="item-1">
        <a href="#"><img src="~/Content/Site/images/bmw1.jpg" width="320" height="250" alt="Image" class="img-fluid"></a>
        <div class="item-1-contents">
            <div class="text-center">
                <h3><a href="#">BMW X5 XDrive</a></h3>

                <div class="rent-price"><span>Günlük 10.000TL /</span>KDV</div>
            </div>
            <ul class="specs">



                <li>
                    <span>Kapı</span>
                    <span class="spec">4</span>
                </li>
                <li>
                    <span>Koltuk </span>
                    <span class="spec">8</span>
                </li>
                <li>
                    <span>Yakıt</span>
                    <span class="spec">Dizel</span>
                </li>
                <li>
                    <span>Depo</span>
                    <span class="spec">%100</span>
                </li>
                <li>
                    <span>Yaş</span>
                    <span class="spec">+25</span>
                </li>
                <li>
                    <span>Ehliyet</span>
                    <span class="spec">+2 YIL</span>
                </li>
                <li>
                    <span>Vites</span>
                    <span class="spec">Otomatik</span>
                </li>
                <li>
                    <span>Model</span>
                    <span class="spec">2022</span>
                </li>
            </ul>
            <div class="d-flex action">
                <a href="contact.html" class="btn btn-primary">Hemen Kirala</a>
            </div>
        </div>
    </div>
</div>
<div class="col-lg-4 col-md-6 mb-4">
    <div class="item-1">
        <a href="#"><img src="~/Content/Site/images/merso2.png" width="320" height="250" alt="Image" class="img-fluid"></a>
        <div class="item-1-contents">
            <div class="text-center">
                <h3><a href="#">Mercedes E180 1.6 Benzinli</a></h3>
                <div class="rent-price"><span>Günlük 7.500TL /</span>KDV</div>
            </div>
            <ul class="specs">



                <li>
                    <span>Kapı</span>
                    <span class="spec">4</span>
                </li>
                <li>
                    <span>Koltuk </span>
                    <span class="spec">6</span>
                </li>
                <li>
                    <span>Yakıt</span>
                    <span class="spec">Benzin</span>
                </li>
                <li>
                    <span>Depo</span>
                    <span class="spec">%50</span>
                </li>
                <li>
                    <span>Yaş</span>
                    <span class="spec">+21</span>
                </li>
                <li>
                    <span>Ehliyet</span>
                    <span class="spec">+2 YIL</span>
                </li>
                <li>
                    <span>Vites</span>
                    <span class="spec">Otomatik</span>
                </li>
                <li>
                    <span>Model</span>
                    <span class="spec">2021</span>
                </li>
            </ul>
            <div class="d-flex action">
                <a href="contact.html" class="btn btn-primary">Hemen Kirala</a>
            </div>
        </div>
    </div>
</div>

<div class="col-lg-4 col-md-6 mb-4">
    <div class="item-1">
        <a href="#"><img src="~/Content/Site/images/merso3.jpg" width="320" height="250" alt="Image" class="img-fluid"></a>
        <div class="item-1-contents">
            <div class="text-center">
                <h3><a href="#">Mercedes G350D 3.0 4×4 </a></h3>

                <div class="rent-price"><span>Günlük 10.500TL /</span>KDV</div>
            </div>
            <ul class="specs">



                <li>
                    <span>Kapı</span>
                    <span class="spec">4</span>
                </li>
                <li>
                    <span>Koltuk </span>
                    <span class="spec">12</span>
                </li>
                <li>
                    <span>Yakıt</span>
                    <span class="spec">Benzin</span>
                </li>
                <li>
                    <span>Depo</span>
                    <span class="spec">%100</span>
                </li>
                <li>
                    <span>Yaş</span>
                    <span class="spec">+21</span>
                </li>
                <li>
                    <span>Ehliyet</span>
                    <span class="spec">+2 YIL</span>
                </li>
                <li>
                    <span>Vites</span>
                    <span class="spec">Otomatik</span>
                </li>
                <li>
                    <span>Model</span>
                    <span class="spec">2021</span>
                </li>
            </ul>
            <div class="d-flex action">
                <a href="contact.html" class="btn btn-primary">Hemen Kirala</a>
            </div>
        </div>
    </div>
</div>
<div class="col-lg-4 col-md-6 mb-4">
    <div class="item-1">
        <a href="#"><img src="~/Content/Site/images/volvo1.jpg" width="320" height="250" alt="Image" class="img-fluid"></a>
        <div class="item-1-contents">
            <div class="text-center">
                <h3><a href="#">Volvo S90 D5 2.0 AWD</a></h3>

                <div class="rent-price"><span>Günlük 9.800TL /</span>KDV</div>
            </div>
            <ul class="specs">



                <li>
                    <span>Kapı</span>
                    <span class="spec">4</span>
                </li>
                <li>
                    <span>Koltuk </span>
                    <span class="spec">6</span>
                </li>
                <li>
                    <span>Yakıt</span>
                    <span class="spec">Dizel</span>
                </li>
                <li>
                    <span>Depo</span>
                    <span class="spec">%80</span>
                </li>
                <li>
                    <span>Yaş</span>
                    <span class="spec">+25</span>
                </li>
                <li>
                    <span>Ehliyet</span>
                    <span class="spec">+2 YIL</span>
                </li>
                <li>
                    <span>Vites</span>
                    <span class="spec">Otomatik</span>
                </li>
                <li>
                    <span>Model</span>
                    <span class="spec">2022</span>
                </li>
            </ul>
            <div class="d-flex action">
                <a href="contact.html" class="btn btn-primary">Hemen Kirala</a>
            </div>
        </div>
    </div>
</div>


<br> </br>
<br> </br>
<br> </br>
