
@{
    ViewBag.Title = "OrtaCars";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="col-lg-4 col-md-6 mb-4">
    <div class="item-1">
        <a href="#"><img src="~/Content/Site/images/citro2.jpg" width="320" height="250" alt="Image" class="img-fluid"></a>
        <div class="item-1-contents">
            <div class="text-center">
                <h3><a href="#">Citroen C4 Cactus 1.6 E-HDI</a></h3>
                <div class="rent-price"><span>Günlük 500TL /</span>KDV</div>
            </div>
            <ul class="specs">



                <li>
                    <span>Kapı</span>
                    <span class="spec">4</span>
                </li>
                <li>
                    <span>Koltuk </span>
                    <span class="spec">4</span>
                </li>
                <li>
                    <span>Yakıt</span>
                    <span class="spec">Dizel</span>
                </li>
                <li>
                    <span>Depo</span>
                    <span class="spec">%90</span>
                </li>
                <li>
                    <span>Yaş</span>
                    <span class="spec">+21</span>
                </li>
                <li>
                    <span>Ehliyet</span>
                    <span class="spec">+2 YIL</span>
                </li>
                <li>
                    <span>Vites</span>
                    <span class="spec">Otomatik</span>
                </li>
                <li>
                    <span>Model</span>
                    <span class="spec">2021</span>
                </li>
            </ul>
            <div class="d-flex action">
                <a href="contact.html" class="btn btn-primary">Hemen Kirala</a>
            </div>
        </div>
    </div>
</div>
<div class="col-lg-4 col-md-6 mb-4">
    <div class="item-1">
        <a href="#"><img src="~/Content/Site/images/fiat2.jpg" width="320" height="250" alt="Image" class="img-fluid"></a>
        <div class="item-1-contents">
            <div class="text-center">
                <h3><a href="#">Fiat Egea HB</a></h3>
                <div class="rent-price"><span>Günlük 450TL /</span>KDV</div>
            </div>
            <ul class="specs">



                <li>
                    <span>Kapı</span>
                    <span class="spec">4</span>
                </li>
                <li>
                    <span>Koltuk </span>
                    <span class="spec">4</span>
                </li>
                <li>
                    <span>Yakıt</span>
                    <span class="spec">Benzin</span>
                </li>
                <li>
                    <span>Depo</span>
                    <span class="spec">%80</span>
                </li>
                <li>
                    <span>Yaş</span>
                    <span class="spec">+21</span>
                </li>
                <li>
                    <span>Ehliyet</span>
                    <span class="spec">+2 YIL</span>
                </li>
                <li>
                    <span>Vites</span>
                    <span class="spec">Otomatik</span>
                </li>
                <li>
                    <span>Model</span>
                    <span class="spec">2021</span>
                </li>
            </ul>
            <div class="d-flex action">
                <a href="contact.html" class="btn btn-primary">Hemen Kirala</a>
            </div>
        </div>
    </div>
</div>

<div class="col-lg-4 col-md-6 mb-4">
    <div class="item-1">
        <a href="#"><img src="~/Content/Site/images/fiat3.jpg" width="320" height="250" alt="Image" class="img-fluid"></a>
        <div class="item-1-contents">
            <div class="text-center">
                <h3><a href="#">Fiat Egea HB Urban Plus 1.6 Multijet </a></h3>
                <div class="rent-price"><span>Günlük 550TL /</span>KDV</div>
            </div>
            <ul class="specs">



                <li>
                    <span>Kapı</span>
                    <span class="spec">4</span>
                </li>
                <li>
                    <span>Koltuk </span>
                    <span class="spec">4</span>
                </li>
                <li>
                    <span>Yakıt</span>
                    <span class="spec">Benzin</span>
                </li>
                <li>
                    <span>Depo</span>
                    <span class="spec">%100</span>
                </li>
                <li>
                    <span>Yaş</span>
                    <span class="spec">+21</span>
                </li>
                <li>
                    <span>Ehliyet</span>
                    <span class="spec">+2 YIL</span>
                </li>
                <li>
                    <span>Vites</span>
                    <span class="spec">Otomatik</span>
                </li>
                <li>
                    <span>Model</span>
                    <span class="spec">2021</span>
                </li>
            </ul>
            <div class="d-flex action">
                <a href="contact.html" class="btn btn-primary">Hemen Kirala</a>
            </div>
        </div>
    </div>
</div>
<div class="col-lg-4 col-md-6 mb-4">
    <div class="item-1">
        <a href="#"><img src="~/Content/Site/images/fiateg1.png" width="320" height="250" alt="Image" class="img-fluid"></a>
        <div class="item-1-contents">
            <div class="text-center">
                <h3><a href="#">Fiat Egea Sedan 1.3 Multijet</a></h3>
                <div class="rent-price"><span>Günlük 550TL /</span>KDV</div>
            </div>
            <ul class="specs">



                <li>
                    <span>Kapı</span>
                    <span class="spec">4</span>
                </li>
                <li>
                    <span>Koltuk </span>
                    <span class="spec">4</span>
                </li>
                <li>
                    <span>Yakıt</span>
                    <span class="spec">Dizel</span>
                </li>
                <li>
                    <span>Depo</span>
                    <span class="spec">%60</span>
                </li>
                <li>
                    <span>Yaş</span>
                    <span class="spec">+21</span>
                </li>
                <li>
                    <span>Ehliyet</span>
                    <span class="spec">+2 YIL</span>
                </li>
                <li>
                    <span>Vites</span>
                    <span class="spec">Manuel</span>
                </li>
                <li>
                    <span>Model</span>
                    <span class="spec">2021</span>
                </li>
            </ul>
            <div class="d-flex action">
                <a href="contact.html" class="btn btn-primary">Hemen Kirala</a>
            </div>
        </div>
    </div>
</div>
<div class="col-lg-4 col-md-6 mb-4">
    <div class="item-1">
        <a href="#"><img src="~/Content/Site/images/fiateg2.png" width="320" height="250" alt="Image" class="img-fluid"></a>
        <div class="item-1-contents">
            <div class="text-center">
                <h3><a href="#">Fiat Egea Sedan 1.6</a></h3>
                <div class="rent-price"><span>Günlük 550TL /</span>KDV</div>
            </div>
            <ul class="specs">



                <li>
                    <span>Kapı</span>
                    <span class="spec">4</span>
                </li>
                <li>
                    <span>Koltuk </span>
                    <span class="spec">4</span>
                </li>
                <li>
                    <span>Yakıt</span>
                    <span class="spec">Benzin</span>
                </li>
                <li>
                    <span>Depo</span>
                    <span class="spec">%90</span>
                </li>
                <li>
                    <span>Yaş</span>
                    <span class="spec">+21</span>
                </li>
                <li>
                    <span>Ehliyet</span>
                    <span class="spec">+2 YIL</span>
                </li>
                <li>
                    <span>Vites</span>
                    <span class="spec">Otomatik</span>
                </li>
                <li>
                    <span>Model</span>
                    <span class="spec">2020</span>
                </li>
            </ul>
            <div class="d-flex action">
                <a href="contact.html" class="btn btn-primary">Hemen Kirala</a>
            </div>
        </div>
    </div>
</div>

<div class="col-lg-4 col-md-6 mb-4">
    <div class="item-1">
        <a href="#"><img src="~/Content/Site/images/fiateg3.png" width="320" height="250" alt="Image" class="img-fluid"></a>
        <div class="item-1-contents">
            <div class="text-center">
                <h3><a href="#">Fiat Egea Sedan Comfort 1.6 Multijet</a></h3>
                <div class="rent-price"><span>Günlük 530TL /</span>KDV</div>
            </div>
            <ul class="specs">



                <li>
                    <span>Kapı</span>
                    <span class="spec">4</span>
                </li>
                <li>
                    <span>Koltuk </span>
                    <span class="spec">4</span>
                </li>
                <li>
                    <span>Yakıt</span>
                    <span class="spec">Dizel</span>
                </li>
                <li>
                    <span>Depo</span>
                    <span class="spec">%30</span>
                </li>
                <li>
                    <span>Yaş</span>
                    <span class="spec">+21</span>
                </li>
                <li>
                    <span>Ehliyet</span>
                    <span class="spec">+2 YIL</span>
                </li>
                <li>
                    <span>Vites</span>
                    <span class="spec">Manuel</span>
                </li>
                <li>
                    <span>Model</span>
                    <span class="spec">2020</span>
                </li>
            </ul>
            <div class="d-flex action">
                <a href="contact.html" class="btn btn-primary">Hemen Kirala</a>
            </div>
        </div>
    </div>
</div>
<div class="col-lg-4 col-md-6 mb-4">
    <div class="item-1">
        <a href="#"><img src="~/Content/Site/images/hondas1.png" width="320" height="250" alt="Image" class="img-fluid"></a>
        <div class="item-1-contents">
            <div class="text-center">
                <h3><a href="#">Fiat Egea Sedan Comfort 1.6 Multijet</a></h3>
                <div class="rent-price"><span>Günlük 600TL /</span>KDV</div>
            </div>
            <ul class="specs">



                <li>
                    <span>Kapı</span>
                    <span class="spec">4</span>
                </li>
                <li>
                    <span>Koltuk </span>
                    <span class="spec">4</span>
                </li>
                <li>
                    <span>Yakıt</span>
                    <span class="spec">Benzin</span>
                </li>
                <li>
                    <span>Depo</span>
                    <span class="spec">%100</span>
                </li>
                <li>
                    <span>Yaş</span>
                    <span class="spec">+21</span>
                </li>
                <li>
                    <span>Ehliyet</span>
                    <span class="spec">+2 YIL</span>
                </li>
                <li>
                    <span>Vites</span>
                    <span class="spec">Otomatik</span>
                </li>
                <li>
                    <span>Model</span>
                    <span class="spec">2020</span>
                </li>
            </ul>
            <div class="d-flex action">
                <a href="contact.html" class="btn btn-primary">Hemen Kirala</a>
            </div>
        </div>
    </div>
</div>
<div class="col-lg-4 col-md-6 mb-4">
    <div class="item-1">
        <a href="#"><img src="~/Content/Site/images/hondas2.png" width="320" height="250" alt="Image" class="img-fluid"></a>
        <div class="item-1-contents">
            <div class="text-center">
                <h3><a href="#">Hyundai Accent Sedan 1.4 </a></h3>
                <div class="rent-price"><span>Günlük 600TL /</span>KDV</div>
            </div>
            <ul class="specs">



                <li>
                    <span>Kapı</span>
                    <span class="spec">4</span>
                </li>
                <li>
                    <span>Koltuk </span>
                    <span class="spec">4</span>
                </li>
                <li>
                    <span>Yakıt</span>
                    <span class="spec">Dizel</span>
                </li>
                <li>
                    <span>Depo</span>
                    <span class="spec">%40</span>
                </li>
                <li>
                    <span>Yaş</span>
                    <span class="spec">+21</span>
                </li>
                <li>
                    <span>Ehliyet</span>
                    <span class="spec">+2 YIL</span>
                </li>
                <li>
                    <span>Vites</span>
                    <span class="spec">Otomatik</span>
                </li>
                <li>
                    <span>Model</span>
                    <span class="spec">2019</span>
                </li>
            </ul>
            <div class="d-flex action">
                <a href="contact.html" class="btn btn-primary">Hemen Kirala</a>
            </div>
        </div>
    </div>
</div>
<div class="col-lg-4 col-md-6 mb-4">
    <div class="item-1">
        <a href="#"><img src="~/Content/Site/images/pejo4.jpg" width="320" height="250" alt="Image" class="img-fluid"></a>
        <div class="item-1-contents">
            <div class="text-center">
                <h3><a href="#">Peugeot 301 1.6 HDI </a></h3>
                <div class="rent-price"><span>Günlük 650TL /</span>KDV</div>
            </div>
            <ul class="specs">



                <li>
                    <span>Kapı</span>
                    <span class="spec">4</span>
                </li>
                <li>
                    <span>Koltuk </span>
                    <span class="spec">4</span>
                </li>
                <li>
                    <span>Yakıt</span>
                    <span class="spec">Benzin</span>
                </li>
                <li>
                    <span>Depo</span>
                    <span class="spec">%90</span>
                </li>
                <li>
                    <span>Yaş</span>
                    <span class="spec">+21</span>
                </li>
                <li>
                    <span>Ehliyet</span>
                    <span class="spec">+2 YIL</span>
                </li>
                <li>
                    <span>Vites</span>
                    <span class="spec">Otomatik</span>
                </li>
                <li>
                    <span>Model</span>
                    <span class="spec">2020</span>
                </li>
            </ul>
            <div class="d-flex action">
                <a href="contact.html" class="btn btn-primary">Hemen Kirala</a>
            </div>
        </div>
    </div>
</div>
<div class="col-lg-4 col-md-6 mb-4">
    <div class="item-1">
        <a href="#"><img src="~/Content/Site/images/renos2.jpg" width="320" height="250" alt="Image" class="img-fluid"></a>
        <div class="item-1-contents">
            <div class="text-center">
                <h3><a href="#">Renault Clio HB Dizel Otomatik </a></h3>

                <div class="rent-price"><span>Günlük 680TL /</span>KDV</div>
            </div>
            <ul class="specs">



                <li>
                    <span>Kapı</span>
                    <span class="spec">4</span>
                </li>
                <li>
                    <span>Koltuk </span>
                    <span class="spec">4</span>
                </li>
                <li>
                    <span>Yakıt</span>
                    <span class="spec">Dizel</span>
                </li>
                <li>
                    <span>Depo</span>
                    <span class="spec">%80</span>
                </li>
                <li>
                    <span>Yaş</span>
                    <span class="spec">+23</span>
                </li>
                <li>
                    <span>Ehliyet</span>
                    <span class="spec">+2 YIL</span>
                </li>
                <li>
                    <span>Vites</span>
                    <span class="spec">Otomatik</span>
                </li>
                <li>
                    <span>Model</span>
                    <span class="spec">2021</span>
                </li>
            </ul>
            <div class="d-flex action">
                <a href="contact.html" class="btn btn-primary">Hemen Kirala</a>
            </div>
        </div>
    </div>
</div>
<div class="col-lg-4 col-md-6 mb-4">
    <div class="item-1">
        <a href="#"><img src="~/Content/Site/images/renos3.jpg" width="320" height="250" alt="Image" class="img-fluid"></a>
        <div class="item-1-contents">
            <div class="text-center">
                <h3><a href="#">Renault Sport Tourer 1.5 DCI </a></h3>
                <div class="rent-price"><span>Günlük 550TL /</span>KDV</div>
            </div>
            <ul class="specs">



                <li>
                    <span>Kapı</span>
                    <span class="spec">4</span>
                </li>
                <li>
                    <span>Koltuk </span>
                    <span class="spec">6</span>
                </li>
                <li>
                    <span>Yakıt</span>
                    <span class="spec">Dizel</span>
                </li>
                <li>
                    <span>Depo</span>
                    <span class="spec">%80</span>
                </li>
                <li>
                    <span>Yaş</span>
                    <span class="spec">+23</span>
                </li>
                <li>
                    <span>Ehliyet</span>
                    <span class="spec">+2 YIL</span>
                </li>
                <li>
                    <span>Vites</span>
                    <span class="spec">Otomatik</span>
                </li>
                <li>
                    <span>Model</span>
                    <span class="spec">2020</span>
                </li>
            </ul>
            <div class="d-flex action">
                <a href="contact.html" class="btn btn-primary">Hemen Kirala</a>
            </div>
        </div>
    </div>
</div>
<div class="col-lg-4 col-md-6 mb-4">
    <div class="item-1">
        <a href="#"><img src="~/Content/Site/images/seat2.jpg" width="320" height="250" alt="Image" class="img-fluid"></a>
        <div class="item-1-contents">
            <div class="text-center">
                <h3><a href="#">Seat Ibiza Sport Tourer 1.2 TST DSG </a></h3>
                <div class="rent-price"><span>Günlük 550TL /</span>KDV</div>
            </div>
            <ul class="specs">



                <li>
                    <span>Kapı</span>
                    <span class="spec">4</span>
                </li>
                <li>
                    <span>Koltuk </span>
                    <span class="spec">6</span>
                </li>
                <li>
                    <span>Yakıt</span>
                    <span class="spec">Benzin</span>
                </li>
                <li>
                    <span>Depo</span>
                    <span class="spec">%60</span>
                </li>
                <li>
                    <span>Yaş</span>
                    <span class="spec">+23</span>
                </li>
                <li>
                    <span>Ehliyet</span>
                    <span class="spec">+2 YIL</span>
                </li>
                <li>
                    <span>Vites</span>
                    <span class="spec">Otomatik</span>
                </li>
                <li>
                    <span>Model</span>
                    <span class="spec">2021</span>
                </li>
            </ul>
            <div class="d-flex action">
                <a href="contact.html" class="btn btn-primary">Hemen Kirala</a>
            </div>
        </div>
    </div>
</div>

<div class="col-lg-4 col-md-6 mb-4">
    <div class="item-1">
        <a href="#"><img src="~/Content/Site/images/dacia2.jpg" width="320" height="250" alt="Image" class="img-fluid"></a>
        <div class="item-1-contents">
            <div class="text-center">
                <h3><a href="#">Dacia Duster 1.3 TCE 4X4 </a></h3>
                <div class="rent-price"><span>Günlük 550TL /</span>KDV</div>
            </div>
            <ul class="specs">



                <li>
                    <span>Kapı</span>
                    <span class="spec">4</span>
                </li>
                <li>
                    <span>Koltuk </span>
                    <span class="spec">8</span>
                </li>
                <li>
                    <span>Yakıt</span>
                    <span class="spec">Benzin</span>
                </li>
                <li>
                    <span>Depo</span>
                    <span class="spec">%70</span>
                </li>
                <li>
                    <span>Yaş</span>
                    <span class="spec">+23</span>
                </li>
                <li>
                    <span>Ehliyet</span>
                    <span class="spec">+2 YIL</span>
                </li>
                <li>
                    <span>Vites</span>
                    <span class="spec">Otomatik</span>
                </li>
                <li>
                    <span>Model</span>
                    <span class="spec">2021</span>
                </li>
            </ul>
            <div class="d-flex action">
                <a href="contact.html" class="btn btn-primary">Hemen Kirala</a>
            </div>
        </div>
    </div>
</div>
<div class="col-lg-4 col-md-6 mb-4">
    <div class="item-1">
        <a href="#"><img src="~/Content/Site/images/dacia3.jpg" width="320" height="250" alt="Image" class="img-fluid"></a>
        <div class="item-1-contents">
            <div class="text-center">
                <h3><a href="#">Dacia Duster 1.5 DCİ 4X4 </a></h3>
                <div class="rent-price"><span>Günlük 550TL /</span>KDV</div>
            </div>
            <ul class="specs">



                <li>
                    <span>Kapı</span>
                    <span class="spec">4</span>
                </li>
                <li>
                    <span>Koltuk </span>
                    <span class="spec">8</span>
                </li>
                <li>
                    <span>Yakıt</span>
                    <span class="spec">Benzin</span>
                </li>
                <li>
                    <span>Depo</span>
                    <span class="spec">%50</span>
                </li>
                <li>
                    <span>Yaş</span>
                    <span class="spec">+23</span>
                </li>
                <li>
                    <span>Ehliyet</span>
                    <span class="spec">+2 YIL</span>
                </li>
                <li>
                    <span>Vites</span>
                    <span class="spec">Otomatik</span>
                </li>
                <li>
                    <span>Model</span>
                    <span class="spec">2020</span>
                </li>
            </ul>
            <div class="d-flex action">
                <a href="contact.html" class="btn btn-primary">Hemen Kirala</a>
            </div>
        </div>
    </div>
</div>
<div class="col-lg-4 col-md-6 mb-4">
    <div class="item-1">
        <a href="#"><img src="~/Content/Site/images/dacia4.jpg" width="320" height="250" alt="Image" class="img-fluid"></a>
        <div class="item-1-contents">
            <div class="text-center">
                <h3><a href="#">Dacia Lodgy Laureate 1.5 DCI 7 Koltuklu </a></h3>
                <div class="rent-price"><span>Günlük 550TL /</span>KDV</div>
            </div>
            <ul class="specs">



                <li>
                    <span>Kapı</span>
                    <span class="spec">4</span>
                </li>
                <li>
                    <span>Koltuk </span>
                    <span class="spec">7</span>
                </li>
                <li>
                    <span>Yakıt</span>
                    <span class="spec">Dizel</span>
                </li>
                <li>
                    <span>Depo</span>
                    <span class="spec">%80</span>
                </li>
                <li>
                    <span>Yaş</span>
                    <span class="spec">+23</span>
                </li>
                <li>
                    <span>Ehliyet</span>
                    <span class="spec">+2 YIL</span>
                </li>
                <li>
                    <span>Vites</span>
                    <span class="spec">Manuel</span>
                </li>
                <li>
                    <span>Model</span>
                    <span class="spec">2021</span>
                </li>
            </ul>
            <div class="d-flex action">
                <a href="contact.html" class="btn btn-primary">Hemen Kirala</a>
            </div>
        </div>
    </div>
</div>
<div class="col-lg-4 col-md-6 mb-4">
    <div class="item-1">
        <a href="#"><img src="~/Content/Site/images/hunda1.png" width="320" height="250" alt="Image" class="img-fluid"></a>
        <div class="item-1-contents">
            <div class="text-center">
                <h3>
                    <a href="#">
                        Hyundai Elantra 1.6 CRDİ
                    </a>
                </h3>
                <div class="rent-price"><span>Günlük 500TL /</span>KDV</div>
            </div>
            <ul class="specs">



                <li>
                    <span>Kapı</span>
                    <span class="spec">4</span>
                </li>
                <li>
                    <span>Koltuk </span>
                    <span class="spec">4</span>
                </li>
                <li>
                    <span>Yakıt</span>
                    <span class="spec">Dizel</span>
                </li>
                <li>
                    <span>Depo</span>
                    <span class="spec">%90</span>
                </li>
                <li>
                    <span>Yaş</span>
                    <span class="spec">+21</span>
                </li>
                <li>
                    <span>Ehliyet</span>
                    <span class="spec">+2 YIL</span>
                </li>
                <li>
                    <span>Vites</span>
                    <span class="spec">Otomatik</span>
                </li>
                <li>
                    <span>Model</span>
                    <span class="spec">2021</span>
                </li>
            </ul>
            <div class="d-flex action">
                <a href="contact.html" class="btn btn-primary">Hemen Kirala</a>
            </div>
        </div>
    </div>
</div>
<div class="col-lg-4 col-md-6 mb-4">
    <div class="item-1">
        <a href="#"><img src="~/Content/Site/images/kia6.png" width="320" height="250" alt="Image" class="img-fluid"></a>
        <div class="item-1-contents">
            <div class="text-center">
                <h3><a href="#">Kia Cerato Concept Techno 1.6 DSL</a></h3>
                <div class="rent-price"><span>Günlük 500TL /</span>KDV</div>
            </div>
            <ul class="specs">



                <li>
                    <span>Kapı</span>
                    <span class="spec">4</span>
                </li>
                <li>
                    <span>Koltuk </span>
                    <span class="spec">4</span>
                </li>
                <li>
                    <span>Yakıt</span>
                    <span class="spec">Dizel</span>
                </li>
                <li>
                    <span>Depo</span>
                    <span class="spec">%30</span>
                </li>
                <li>
                    <span>Yaş</span>
                    <span class="spec">+21</span>
                </li>
                <li>
                    <span>Ehliyet</span>
                    <span class="spec">+2 YIL</span>
                </li>
                <li>
                    <span>Vites</span>
                    <span class="spec">Otomatik</span>
                </li>
                <li>
                    <span>Model</span>
                    <span class="spec">2022</span>
                </li>
            </ul>
            <div class="d-flex action">
                <a href="contact.html" class="btn btn-primary">Hemen Kirala</a>
            </div>
        </div>
    </div>
</div>
<div class="col-lg-4 col-md-6 mb-4">
    <div class="item-1">
        <a href="#"><img src="~/Content/Site/images/opel5.jpg" width="320" height="250" alt="Image" class="img-fluid"></a>
        <div class="item-1-contents">
            <div class="text-center">
                <h3><a href="#">Opel Astra Sedan 1.4 </a></h3>
                <div class="rent-price"><span>Günlük 550TL /</span>KDV</div>
            </div>
            <ul class="specs">



                <li>
                    <span>Kapı</span>
                    <span class="spec">4</span>
                </li>
                <li>
                    <span>Koltuk </span>
                    <span class="spec">4</span>
                </li>
                <li>
                    <span>Yakıt</span>
                    <span class="spec">Dizel</span>
                </li>
                <li>
                    <span>Depo</span>
                    <span class="spec">%90</span>
                </li>
                <li>
                    <span>Yaş</span>
                    <span class="spec">+21</span>
                </li>
                <li>
                    <span>Ehliyet</span>
                    <span class="spec">+2 YIL</span>
                </li>
                <li>
                    <span>Vites</span>
                    <span class="spec">Otomatik</span>
                </li>
                <li>
                    <span>Model</span>
                    <span class="spec">2022</span>
                </li>
            </ul>
            <div class="d-flex action">
                <a href="contact.html" class="btn btn-primary">Hemen Kirala</a>
            </div>
        </div>
    </div>
</div>
<div class="col-lg-4 col-md-6 mb-4">
    <div class="item-1">
        <a href="#"><img src="~/Content/Site/images/opel6.jpg" width="320" height="250" alt="Image" class="img-fluid"></a>
        <div class="item-1-contents">
            <div class="text-center">
                <h3><a href="#">Opel Astra Sedan 1.6 Dizel Manuel </a></h3>
                <div class="rent-price"><span>Günlük 540TL /</span>KDV</div>
            </div>
            <ul class="specs">



                <li>
                    <span>Kapı</span>
                    <span class="spec">4</span>
                </li>
                <li>
                    <span>Koltuk </span>
                    <span class="spec">4</span>
                </li>
                <li>
                    <span>Yakıt</span>
                    <span class="spec">Dizel</span>
                </li>
                <li>
                    <span>Depo</span>
                    <span class="spec">%90</span>
                </li>
                <li>
                    <span>Yaş</span>
                    <span class="spec">+21</span>
                </li>
                <li>
                    <span>Ehliyet</span>
                    <span class="spec">+2 YIL</span>
                </li>
                <li>
                    <span>Vites</span>
                    <span class="spec">Manuel</span>
                </li>
                <li>
                    <span>Model</span>
                    <span class="spec">2022</span>
                </li>
            </ul>
            <div class="d-flex action">
                <a href="contact.html" class="btn btn-primary">Hemen Kirala</a>
            </div>
        </div>
    </div>
</div>
<div class="col-lg-4 col-md-6 mb-4">
    <div class="item-1">
        <a href="#"><img src="~/Content/Site/images/renos4.jpg" width="320" height="250" alt="Image" class="img-fluid"></a>
        <div class="item-1-contents">
            <div class="text-center">
                <h3><a href="#">Renault Megane Sedan 1.5 DCI EDC </a></h3>

                <div class="rent-price"><span>Günlük 650TL /</span>KDV</div>
            </div>
            <ul class="specs">



                <li>
                    <span>Kapı</span>
                    <span class="spec">4</span>
                </li>
                <li>
                    <span>Koltuk </span>
                    <span class="spec">4</span>
                </li>
                <li>
                    <span>Yakıt</span>
                    <span class="spec">Dizel</span>
                </li>
                <li>
                    <span>Depo</span>
                    <span class="spec">%100</span>
                </li>
                <li>
                    <span>Yaş</span>
                    <span class="spec">+21</span>
                </li>
                <li>
                    <span>Ehliyet</span>
                    <span class="spec">+2 YIL</span>
                </li>
                <li>
                    <span>Vites</span>
                    <span class="spec">Otomatik</span>
                </li>
                <li>
                    <span>Model</span>
                    <span class="spec">2022</span>
                </li>
            </ul>
            <div class="d-flex action">
                <a href="contact.html" class="btn btn-primary">Hemen Kirala</a>
            </div>
        </div>
    </div>
</div>
<div class="col-lg-4 col-md-6 mb-4">
    <div class="item-1">
        <a href="#"><img src="~/Content/Site/images/opel7.jpg" width="320" height="250" alt="Image" class="img-fluid"></a>
        <div class="item-1-contents">
            <div class="text-center">
                <h3><a href="#">Opel Astra Sedan 1.6 Dizel Manuel </a></h3>
                <div class="rent-price"><span>Günlük 540TL /</span>KDV</div>
            </div>
            <ul class="specs">



                <li>
                    <span>Kapı</span>
                    <span class="spec">4</span>
                </li>
                <li>
                    <span>Koltuk </span>
                    <span class="spec">4</span>
                </li>
                <li>
                    <span>Yakıt</span>
                    <span class="spec">Dizel</span>
                </li>
                <li>
                    <span>Depo</span>
                    <span class="spec">%70</span>
                </li>
                <li>
                    <span>Yaş</span>
                    <span class="spec">+21</span>
                </li>
                <li>
                    <span>Ehliyet</span>
                    <span class="spec">+2 YIL</span>
                </li>
                <li>
                    <span>Vites</span>
                    <span class="spec">Manuel</span>
                </li>
                <li>
                    <span>Model</span>
                    <span class="spec">2022</span>
                </li>
            </ul>
            <div class="d-flex action">
                <a href="contact.html" class="btn btn-primary">Hemen Kirala</a>
            </div>
        </div>
    </div>
</div>
<div class="col-lg-4 col-md-6 mb-4">
    <div class="item-1">
        <a href="#"><img src="~/Content/Site/images/skoda1.jpg" width="320" height="250" alt="Image" class="img-fluid"></a>
        <div class="item-1-contents">
            <div class="text-center">
                <h3><a href="#">Skoda Octavia 1.6 TDI DSG </a></h3>
                <div class="rent-price"><span>Günlük 650TL /</span>KDV</div>
            </div>
            <ul class="specs">



                <li>
                    <span>Kapı</span>
                    <span class="spec">4</span>
                </li>
                <li>
                    <span>Koltuk </span>
                    <span class="spec">4</span>
                </li>
                <li>
                    <span>Yakıt</span>
                    <span class="spec">Dizel</span>
                </li>
                <li>
                    <span>Depo</span>
                    <span class="spec">%80</span>
                </li>
                <li>
                    <span>Yaş</span>
                    <span class="spec">+21</span>
                </li>
                <li>
                    <span>Ehliyet</span>
                    <span class="spec">+2 YIL</span>
                </li>
                <li>
                    <span>Vites</span>
                    <span class="spec">Otomatik</span>
                </li>
                <li>
                    <span>Model</span>
                    <span class="spec">2022</span>
                </li>
            </ul>
            <div class="d-flex action">
                <a href="contact.html" class="btn btn-primary">Hemen Kirala</a>
            </div>
        </div>
    </div>
</div>
<div class="col-lg-4 col-md-6 mb-4">
    <div class="item-1">
        <a href="#"><img src="~/Content/Site/images/golf2.jpg" width="320" height="250" alt="Image" class="img-fluid"></a>
        <div class="item-1-contents">
            <div class="text-center">
                <h3><a href="#">VW Golf 1.2 TSI DSG</a></h3>
                <div class="rent-price"><span>Günlük 640TL /</span>KDV</div>
            </div>
            <ul class="specs">



                <li>
                    <span>Kapı</span>
                    <span class="spec">4</span>
                </li>
                <li>
                    <span>Koltuk </span>
                    <span class="spec">4</span>
                </li>
                <li>
                    <span>Yakıt</span>
                    <span class="spec">Dizel</span>
                </li>
                <li>
                    <span>Depo</span>
                    <span class="spec">%80</span>
                </li>
                <li>
                    <span>Yaş</span>
                    <span class="spec">+21</span>
                </li>
                <li>
                    <span>Ehliyet</span>
                    <span class="spec">+2 YIL</span>
                </li>
                <li>
                    <span>Vites</span>
                    <span class="spec">Otomatik</span>
                </li>
                <li>
                    <span>Model</span>
                    <span class="spec">2022</span>
                </li>
            </ul>
            <div class="d-flex action">
                <a href="contact.html" class="btn btn-primary">Hemen Kirala</a>
            </div>
        </div>
    </div>
</div>
<div class="col-lg-4 col-md-6 mb-4">
    <div class="item-1">
        <a href="#"><img src="~/Content/Site/images/golf3.jpg" width="320" height="250" alt="Image" class="img-fluid"></a>
        <div class="item-1-contents">
            <div class="text-center">
                <h3><a href="#">VW Golf 1.6 TDI</a></h3>

                <div class="rent-price"><span>Günlük 640TL /</span>KDV</div>
            </div>
            <ul class="specs">



                <li>
                    <span>Kapı</span>
                    <span class="spec">4</span>
                </li>
                <li>
                    <span>Koltuk </span>
                    <span class="spec">4</span>
                </li>
                <li>
                    <span>Yakıt</span>
                    <span class="spec">Dizel</span>
                </li>
                <li>
                    <span>Depo</span>
                    <span class="spec">%80</span>
                </li>
                <li>
                    <span>Yaş</span>
                    <span class="spec">+21</span>
                </li>
                <li>
                    <span>Ehliyet</span>
                    <span class="spec">+2 YIL</span>
                </li>
                <li>
                    <span>Vites</span>
                    <span class="spec">Otomatik</span>
                </li>
                <li>
                    <span>Model</span>
                    <span class="spec">2021</span>
                </li>
            </ul>
            <div class="d-flex action">
                <a href="contact.html" class="btn btn-primary">Hemen Kirala</a>
            </div>
        </div>
    </div>
</div>
<div class="col-lg-4 col-md-6 mb-4">
    <div class="item-1">
        <a href="#"><img src="~/Content/Site/images/jetta1.jpg" width="320" height="250" alt="Image" class="img-fluid"></a>
        <div class="item-1-contents">
            <div class="text-center">
                <h3><a href="#">VW Jetta 1.2</a></h3>


                <div class="rent-price"><span>Günlük 680TL /</span>KDV</div>
            </div>
            <ul class="specs">



                <li>
                    <span>Kapı</span>
                    <span class="spec">4</span>
                </li>
                <li>
                    <span>Koltuk </span>
                    <span class="spec">4</span>
                </li>
                <li>
                    <span>Yakıt</span>
                    <span class="spec">Benzin</span>
                </li>
                <li>
                    <span>Depo</span>
                    <span class="spec">%70</span>
                </li>
                <li>
                    <span>Yaş</span>
                    <span class="spec">+21</span>
                </li>
                <li>
                    <span>Ehliyet</span>
                    <span class="spec">+2 YIL</span>
                </li>
                <li>
                    <span>Vites</span>
                    <span class="spec">Otomatik</span>
                </li>
                <li>
                    <span>Model</span>
                    <span class="spec">2022</span>
                </li>
            </ul>
            <div class="d-flex action">
                <a href="contact.html" class="btn btn-primary">Hemen Kirala</a>
            </div>
        </div>
    </div>
</div>

<div class="col-lg-4 col-md-6 mb-4">
    <div class="item-1">
        <a href="#"><img src="~/Content/Site/images/jetta2.jpg" width="320" height="250" alt="Image" class="img-fluid"></a>
        <div class="item-1-contents">
            <div class="text-center">
                <h3><a href="#">VW Jetta 1.4 TSI DSG</a></h3>

                <div class="rent-price"><span>Günlük 690TL /</span>KDV</div>
            </div>
            <ul class="specs">



                <li>
                    <span>Kapı</span>
                    <span class="spec">4</span>
                </li>
                <li>
                    <span>Koltuk </span>
                    <span class="spec">4</span>
                </li>
                <li>
                    <span>Yakıt</span>
                    <span class="spec">Benzin</span>
                </li>
                <li>
                    <span>Depo</span>
                    <span class="spec">%90</span>
                </li>
                <li>
                    <span>Yaş</span>
                    <span class="spec">+21</span>
                </li>
                <li>
                    <span>Ehliyet</span>
                    <span class="spec">+2 YIL</span>
                </li>
                <li>
                    <span>Vites</span>
                    <span class="spec">Otomatik</span>
                </li>
                <li>
                    <span>Model</span>
                    <span class="spec">2022</span>
                </li>
            </ul>
            <div class="d-flex action">
                <a href="contact.html" class="btn btn-primary">Hemen Kirala</a>
            </div>
        </div>
    </div>
</div>

<div class="col-lg-4 col-md-6 mb-4">
    <div class="item-1">
        <a href="#"><img src="~/Content/Site/images/jetta3.jpg" width="320" height="250" alt="Image" class="img-fluid"></a>
        <div class="item-1-contents">
            <div class="text-center">
                <h3><a href="#">VW Jetta 1.6 TDI</a></h3>

                <div class="rent-price"><span>Günlük 640TL /</span>KDV</div>
            </div>
            <ul class="specs">



                <li>
                    <span>Kapı</span>
                    <span class="spec">4</span>
                </li>
                <li>
                    <span>Koltuk </span>
                    <span class="spec">4</span>
                </li>
                <li>
                    <span>Yakıt</span>
                    <span class="spec">Dizel</span>
                </li>
                <li>
                    <span>Depo</span>
                    <span class="spec">%40</span>
                </li>
                <li>
                    <span>Yaş</span>
                    <span class="spec">+21</span>
                </li>
                <li>
                    <span>Ehliyet</span>
                    <span class="spec">+2 YIL</span>
                </li>
                <li>
                    <span>Vites</span>
                    <span class="spec">Otomatik</span>
                </li>
                <li>
                    <span>Model</span>
                    <span class="spec">2021</span>
                </li>
            </ul>
            <div class="d-flex action">
                <a href="contact.html" class="btn btn-primary">Hemen Kirala</a>
            </div>
        </div>
    </div>
</div>
